{% extends "pyonh/poh.html" %}
{% load ytenx %}
{% block pyonh_dzih_active %}active{% endblock %}
{% block title %}字表 - 分韻撮要{% endblock %}
{% block keywords %}字表, 分韻撮要, {% endblock %}
{% block content %}
<div class="page-header">
  <h1>字表 <small>分韻撮要</small></h1>
</div>
<div class="tb-with-table-by-layout-direction">
  <div class="row">
    <div class="span10 horizontal-cn">
      <form class="form-search" method="get" action="{% url 'zim' %}">
        <input type="text" name="dzih" class="search-query span3">
        <input type="hidden" name="pyonh" value="1">
        <input type="hidden" name="jtkb" value="1">
        <input type="hidden" name="jtdt" value="1">
        <button type="submit" class="btn">檢索</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="span7">      
      <table class="table table-bordered table-condensed">
        <tr>
          <th width="32">次序</th>
          <th width="32">字</th>
          <th width="32">小韻</th>
          <th>字義</th>
        </tr>
        {% for dzih in dzih_pieux %}
        <tr>
          <td>{{dzih.ziox|tsiowng_ghwaeng_srwioh:request}}</td>
          <td><a href="{% url 'pyon_yonh-dzih' dzih.ziox %}">{{dzih}}</a></td>
          <td>
            <a href="{% url 'pyon_yonh-sieux_yonh' dzih.sieux_yonh.ziox %}">{{dzih.sieux_yonh.taj}}</a>
          </td>
          <td>{{dzih.ngieh}}</td>
        </tr>
        {% endfor %}
      </table>
      {% include "pagination.html" with list=dzih_pieux only %}
    </div>
  </div>
</div>

{% endblock %}

