{% extends "pyonh/poh.html" %}
{% load ytenx %}
{% block pyonh_yonh_active %}active{% endblock %}
{% block title %}{{yonh}} - 韻母 - 分韻撮要{% endblock %}
{% block keywords %}{{yonh}}, 韻母, 分韻撮要 {% endblock %}
{% block content %}
<div class="page-header">
  <h1>{{yonh}} <small>分韻撮要韻母</small></h1>
</div>
<div class="row">
  <div class="span4">
    <table class="table table-bordered">
    	<tr>
    	  <td>韻部</td>
    	  <td>第{{yonh.yonh_box.ziox|sryoh}}{{yonh.yonh_box}}</td>
    	</tr>
    	<tr>
    	  <td>調類</td>
    	  <td>{{yonh.tshyuk|tshyuk}}聲</td>
    	</tr>
    	{% if yonh.tuaih %}
      	<tr>
      	  <td>同韻部對立韻母</td>
      	  <td><a href="{% url 'pyon_yonh-yonh_mux' yonh.tuaih %}">{{yonh.tuaih}}</a></td>
      	</tr>
    	{% endif %}
    </table>
  </div>
</div>
<div class="span10">
  <div class="row">
    <h2>小韻</h2>
    {% for sieux in yonh.sieuxyonh_set.all %}
      <a href="{% url 'pyon_yonh-sieux_yonh' sieux.ziox %}">{{sieux}}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}
