{% extends "trngyan/poh.html" %}
{% load ytenx %}
{% block trngyan_cio_active %}active{% endblock %}
{% block title %}第{{cio.kyenh|sryoh}}卷第{{cio.jep|sryoh}}䈎 - 中原音韻{% endblock %}
{% block content %}
<div class="page-header">
  <h1>第{{cio.jep|sryoh}}䈎 <small>《欽定四庫全書・集部・中原音韻・{{cio.kyenh|dciangx_ghrax}}卷》</small></h1>
</div>
{% include "pohpyon/navibar.html" with urls=cio.urls only %}
<div class="span10">
  {% if cio.sieuxyonh_set.all %}
    <div class="row">
      <h2>小韻</h2>
      {% for sieux in cio.sieux_yonh %}
        <a href="{% url 'trngyan-sieux_yonh' sieux.ziox %}">{{sieux}}</a>
      {% endfor %}
    </div>
  {% endif %}
  {% if cio.dzih_set.all %}
    <div class="row">
      <h2>字頭</h2>
      {% for dzih in cio.dzih %}
        <a href="{% url 'trngyan-dzih' dzih.id %}">{{dzih}}</a>
      {% endfor %}
    </div>
  {% endif %}
  <div class="row">
    <h2>圖片</h2>
    <div class="thumbnail">
      <a href="/static/img/TriungNgyanQimYonh/Kyenh{{cio.kyenh}}/{{cio.jep}}.gif">
        <img src="/static/img/TriungNgyanQimYonh/Kyenh{{cio.kyenh}}/{{cio.jep}}.gif" alt="" >
      </a>
    </div>
  </div>
</div>
{% endblock %}
