{% extends "dciangxkox/poh.html" %}
{% load ytenx %}
{% block dciangxkox_cjeng_active %}active{% endblock %}
{% block title %}聲符表 - 上古音系{% endblock %}
{% block keywords %}聲符, 上古音系, {% endblock %}
{% block content %}
<div class="page-header">
  <h1>聲符表 <small>上古音系</small></h1>
</div>
<div class="row tb-with-table-by-layout-direction">
  <div class="span10">
    <table class="table table-bordered table-condensed table-striped">
      <tr>
        <th>聲符</th>
        <th>字</th>
      </tr>
      {% for cjeng in cjeng_pieux %}
      <tr>
        <td>
    	  	<a href="{% url 'dciangx_kox-cjeng_byo' cjeng.mjeng %}">
    	  		{{cjeng}}
    	  	</a>
        </td>
        <td>
          {% for dzih in cjeng.dzih_set.all %}
            <a href="{% url 'dciangx_kox-dzih' dzih.id %}">{{dzih}}</a>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% include "pagination.html" with list=cjeng_pieux only %}
  </div>
</div>
{% endblock %}
