{% extends "dciangxkox/poh.html" %}
{% block dciangx_kox_active %}active{% endblock %}
{% block title %}上古音系{% endblock %}
{% block content %}
<div class="page-header">
  <h1>上古音系 <small>構擬周秦古音</small></h1>
</div>
<div class="row">
  <div class="span10">
    <p>上古音系所研究的是上古<proper-noun>漢</proper-noun>語的語音系統、音節結構，包括聲母韻母內部的組核結構、變化和變化的功能，以及它於<title-cn-no-quote>切韻</title-cn-no-quote>系統聯繫的規律（語音演變規則和發生機制），乃至在方言於親屬語言音韻中的反映。</p>
    <p><title-cn>上古音系</title-cn>是<a href="http://blog.sina.com.cn/zzsf" target="_blank"><proper-noun>鄭張尚芳</proper-noun></a>先生的著作，經授權由<proper-noun>BYVoid</proper-noun>重新整理，並在<proper-noun>韻典網</proper-noun>公開。<proper-noun>BYVoid</proper-noun>在整理的過程中修正原稿字形、音標、<title-cn-no-quote>廣韻</title-cn-no-quote>反切錯誤八百餘處，並對原書中的音標格式進行了修改，使之符合國際音標的標準形式。</p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="thumbnail">
      <img src="/static/img/DciangxKoxQimGheh/DciangxKoxQimGheh.jpg" alt="《上古音系》">
    </div>
  </div>
</div>
{% endblock %}
