{% extends "layout.html" %}
{% block dciangxkox_active %}active{% endblock %}
{% block body %}
<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list sidebar-cn">
      <li class="nav-header">檢索</li>
      <li class="{% block dciangx_kox_active %}{% endblock %}">
        <a href="{% url 'dciangx_kox' %}">上古音系</a>
      </li>
      <li class="{% block dciangxkox_dzih_active %}{% endblock %}">
        <a href="{% url 'dciangx_kox-dzih_pieux' %}">字表</a>
      </li>
      <li class="{% block dciangxkox_cjeng_active %}{% endblock %}">
        <a href="{% url 'dciangx_kox-cjeng_byo_pieux' %}">聲符</a>
      </li>
      <li class="{% block dciangxkox_yonh_active %}{% endblock %}">
        <a href="{% url 'dciangx_kox-yonh_box_pieux' %}">韻部</a>
      </li>
    </ul>
  </div>
</div>
<div class="span10">
{% block content %}{% endblock %}
</div>
{% endblock %}
