{% extends "dciangxkox/poh.html" %}
{% load ytenx %}
{% block dciangxkox_yonh_active %}active{% endblock %}
{% block title %}韻部表 - 上古音系{% endblock %}
{% block keywords %}韻部, 上古音系, {% endblock %}
{% block content %}
<div class="page-header">
  <h1>韻部表 <small>上古音系</small></h1>
</div>
<div class="row">
  <div class="span1">
    <table class="table table-bordered table-condensed table-striped">
      <tr>
        <th>韻部</th>
      </tr>
      {% for yonh in yonh_pieux %}
      <tr>
        <td>
    	  	<a href="{% url 'dciangx_kox-yonh_box' yonh.mjeng %}">
    	  		{{yonh}}
    	  	</a>
    	 </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
