{% extends "tcenghyonhtsen/layout.html" %}
{% block tcenghyonhtsen_index_active %}active{% endblock %}
{% block title %}洪武正韻牋{% endblock %}
{% block content %}
<div class="page-header">
  <h1>洪武正韻牋</h1>
</div>
<p>《洪武正韻牋》是明代楊時偉編纂的一部韻書。該書以明洪武八年樂韶鳳、宋濂等人所著的《洪武正韻》爲基礎，增註補箋。同時取《韻補》、《古音考》等古書之音，附於各韻之後，謂之「古音」。又取《韻會舉要》、《丹鉛錄》諸書收字，增附於韻後，謂之「逸字」。</p>
<p>《洪武正韻牋》基本保持了《洪武正韻》的音韻體系，修改多在釋義、字序處。</p>
<p>韻典網《洪武正韻牋》的所有韻目、字頭、反切、文本、葉碼均由<a href="http://www.zhihu.com/people/poem" target="_blank">poem</a>錄入，BYVoid整理。</p>
<p>《洪武正韻》字義來自<a href="https://www.kanripo.org/" target="_blank">漢リポ Kanseki Repository</a>.</p>
{% endblock %}
