{% extends "tcenghyonhtsen/layout.html" %}
{% block tcenghyonhtsen_index_active %}active{% endblock %}
{% block title %}洪武正韻牋{% endblock %}
{% block content %}
<div class="page-header">
  <h1>洪武正韻牋</h1>
</div>
<p><title-cn>洪武正韻牋</title-cn>爲<proper-noun>明</proper-noun>代<proper-noun>楊時偉</proper-noun>所編纂之韻書一部。該書以<proper-noun/>明</proper-noun><proper-noun>洪武</proper-noun>八年<proper-noun>樂韶鳳</proper-noun>、<proper-noun>宋濂</proper-noun>等人所著<title-cn>洪武正韻</title-cn>爲基礎，增註補箋。同時取<title-cn>韻補</title-cn>、<title-cn>古音考</title-cn>等古書之音，附於各韻之後，謂之「古音」。又取<title-cn>韻會舉要</title-cn>、<title-cn>丹鉛錄</title-cn>諸書收字，增附於韻後，謂之「逸字」。</p>
<p><title-cn>洪武正韻牋</title-cn>基本保持<title-cn>洪武正韻</title-cn>之音韻體系，修改多在釋義、字序處。</p>
<p><proper-noun>韻典網</proper-noun>中<title-cn>洪武正韻牋</title-cn>之全部韻目、字頭、反切、文本、葉碼均由<a href="http://www.zhihu.com/people/poem" target="_blank"><proper-noun>poem</proper-noun></a>錄入，<proper-noun>BYVoid</proper-noun>整理。</p>
<p><title-cn>洪武正韻</title-cn>字義來自<a href="https://www.kanripo.org/" target="_blank"><proper-noun>漢リポ Kanseki Repository</proper-noun></a>.</p>
<p><proper-noun>申叔舟</proper-noun><title-cn>洪武正韻譯訓</title-cn>註音爲<a href="https://www.linkedin.com/in/hien-haw-liow-063a0524/"><proper-noun>Hien-haw Liow</proper-noun></a>所錄入。</p>
{% endblock %}
