{% extends "layout.html" %}
{% block tcenghyonhtsen_active %}active{% endblock %}
{% block body %}
<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list sidebar-cn">
      <li class="nav-header">檢索</li>
      <li class="{% block tcenghyonhtsen_index_active %}{% endblock %}">
        <a href="{% url 'tcenghyonhtsen' %}">洪武正韻牋</a>
      </li>
      <li class="{% block tcenghyonhtsen_sieux_yonh_active %}{% endblock %}">
        <a href="{% url 'tcenghyonhtsen-sieux_yonh_list_page' %}">小韻表</a>
      </li>
      <li class="{% block tcenghyonhtsen_yonh_miuk_active %}{% endblock %}">
        <a href="{% url 'tcenghyonhtsen-yonh_miuk_list_page' %}">韻目</a>
      </li>
      <li class="{% block tcenghyonhtsen_transcription_legend_page_active %}{% endblock %}">
        <a href="{% url 'tcenghyonhtsen-transcription_legend_page' %}">洪武正韻譯訓轉寫</a>
      </li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
<div class="span10">
  {% block content %}
  {% endblock %}
</div><!--/span-->
{% endblock %}
