{% extends "layout.html" %}
{% block about_active %}active{% endblock %}
{% block caption %}韻典網{% endblock %}
{% block body %}
<div class="span12">
  <div class="page-header">
    <h1>韻典網簡介</h1>
  </div>
  <p><proper-noun>韻典網</proper-noun>是一個綜合的韻書查詢工具，包含<title-cn>廣韻</title-cn>、<title-cn>中原音韻</title-cn>、<title-cn>洪武正韻牋</title-cn>、<title-cn>分韻撮要</title-cn>和<title-cn>上古音系</title-cn>。該網站發軔於「<proper-noun>廣韻查詢系統</proper-noun>」，收集了<proper-noun>互聯網</proper-noun>上以及出版物中許多資源，加以整理後向公衆開放。正如<proper-noun>韻典網</proper-noun>其名，它的目的是建立一個集合了的<proper-noun>中國</proper-noun>古代各大韻書的查詢工具，爲音韻、方言、古詩詞專業人士和愛好者提供服務。</p>
  <p><proper-noun>韻典網</proper-noun>不是一個盈利網站，其資料收集、整理、網站開發、運營費用均由站長和參與者個人承擔。如果你對<proper-noun>韻典網</proper-noun>感到好奇，或者想加入維護者的行列，請與站長聯繫（聯繫方式見此頁面最下方）。同時，如果你發現了<proper-noun>韻典網</proper-noun>的錯誤，請給站長發郵件，歡迎不吝指正。也請加入韻典網<a href="https://t.me/ytenx">電報討論羣t.me/ytenx</a>。

  <h2>韻典網是怎麼誕生的</h2>
  <p>音韻學是一門非常有趣的學問，它貫穿古今，融匯方言，造就了絢麗的詩詞格律，又與文字、訓詁二學相輔相成，真乃中華文化之瑰寶。研究音韻學不得不用到的一部書就是<title-cn>廣韻</title-cn>，然而對我這種懶人來說，翻書一直是一件費勁的事。直到「廣韻全字表」在<proper-noun>北大中文論</proper-noun>壇現身，檢索才變得容易。此後又有<proper-noun>有女同車</proper-noun>先生的<a href="http://code.google.com/p/rhymedict/">rhymedict</a>驚現網絡，廣韻查詢變得無比方便。引用一段<proper-noun>有女同車</proper-noun>的話：</p>
  <blockquote><p><title-cn>廣韻</title-cn>，全稱<title-cn>大宋重修廣韻</title-cn>，乃是一部由<proper-noun>陳彭年</proper-noun>、<proper-noun>丘雍</proper-noun>等主持編纂的大型韻書。是書紹承<proper-noun>隋</proper-noun><proper-noun>陸法言</proper-noun><title-cn>切韻</title-cn>和唐孫愐<title-cn>唐韻</title-cn>的體制，規模<proper-noun>齊</proper-noun><proper-noun>楚</proper-noun>、薪傳整備，不單是一部堪稱楷模的古代語詞工具書，更是研學<proper-noun>漢</proper-noun>語音韻不可或缺的繼往開來承前啟後的瑰瑋寶典。總之，該書意義之重大不是三言兩語就能說得周致的，況且如此論題也不是我這末學後進所當置喙的，但是爲了表達小可對先賢前輩的敬意，對這字表母本的緣由來歷還是不得不說上兩句。說到字書、韻書同計算機的結合&mdash;&mdash;我看來一好似乾柴烈火始亂終棄&mdash;&mdash;不對，始亂是情非得以了，終棄卻是萬萬不可！大家都知道computer這西洋舶來的奇技淫巧一直以來對<proper-noun>中華</proper-noun>文字十分抗拒，但是，那句話怎麼說來著&mdash;&mdash;「造次必於斯、顚沛必於斯」，「有志者事竟成」&mdash;&mdash;本字表雖然歷經了前跋後疐般痛苦的分娩過程，終於還是睜開眸子同大家照面了。「世上事有難易乎」&mdash;&mdash;你不去做又怎能體味到期中的甘苦呢！</p></blockquote>
  <p>仰慕之餘，我也思考，爲什麼不把這些優秀的資源整合起來呢？於是從2011年4月初，我開始了構造一個全能的廣韻查詢系統的計劃。數日以後，大功告成。</p>
  <p>一年以後，廣韻查詢系統已經爲數萬用戶提供了上百萬次查詢。我也開始思考擴建，於是從2012年5月開始，我在原系統的基礎上做成了<proper-noun>韻典網</proper-noun>，此後廣韻查詢系統成爲<proper-noun>韻典網</proper-noun>的一部分。</p>

  <h2>鳴謝</h2>
  <ul>
    <li><a href="http://zh.wikipedia.org/zh/User:Polyhedron" target="_blank"><proper-noun>Polyhedron</proper-noun></a>製作了<a href="http://www.pkucn.com/viewthread.php?tid=175767" target="_blank">廣韻全字表</a>和<a href="http://appendix.ytenx.org/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/" target="_blank">中古漢語語音教程</a>。</li>
    <li><proper-noun>有女同車</proper-noun>開發了<a href="http://code.google.com/p/rhymedict/" target="_blank"><proper-noun>rhymedict</proper-noun></a>。</li>
    <li><a href="http://www.zhihu.com/people/poem" target="_blank">poem</a>整理錄入了<title-cn>玉篇</title-cn>、<title-cn>洪武正韻牋</title-cn>、<title-cn>分韻撮要</title-cn>、<title-cn>中原音韻</title-cn>，並分析了音系。</li>
    <li><a href="https://www.kanripo.org/" target="_blank"><proper-noun>漢リポ Kanseki Repository</proper-noun></a>錄入<title-cn>洪武正韻</title-cn>之全篇文本(license: <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY SA</a>).</li>
    <li><a href="https://www.linkedin.com/in/hien-haw-liow-063a0524/"><proper-noun>Hien-haw Liow</proper-noun></a>勘誤字音並錄入<title-cn>洪武正韻譯訓</title-cn>轉寫。</li>
    <li><proper-noun>ldpzh</proper-noun>、<proper-noun>Patrick Tschang</proper-noun>爲本站勘誤。</li>
  </ul>

  <h2>技術說明</h2>
    <h3>系統說明</h3>
      <p>本系統基於<a href="http://www.djangoproject.com/" target="_blank">Django</a>框架構建，使用了Linux、Apache、Python、Django、SQLite以及Twitter Bootstrap。</p>
  
    <h3>字體及兼容性</h3>
      <p><proper-noun>韻典網</proper-noun>有大量生僻漢字，您必須具備支持的Unicode CJK擴展B區的字體，否則將無法正常顯示。具體情況可以參見<a href="http://ctext.org/font-test-page/zh" target="_blank">字體測試頁</a>。</p>
  
  <h2>參考資料</h2>
    <h3>出版物</h3>
      <ul>
        <li><title-cn>廣韻導讀</title-cn> <proper-noun>嚴學宭</proper-noun></li>
        <li><title-cn>切韻研究</title-cn> <proper-noun>邵榮芬</proper-noun></li>
        <li><title-cn>音韻學概論</title-cn> <proper-noun>麥耘</proper-noun></li>
        <li><title-cn>漢語史稿</title-cn> <proper-noun>王力</proper-noun></li>
        <li><title-cn>新校宋本廣韻</title-cn> <proper-noun>李添富</proper-noun></li>
        <li><title-cn>音韻學入門</title-cn> <proper-noun>唐作藩</proper-noun></li>
        <li><title-cn>廣韻校本</title-cn> <proper-noun>周祖謨</proper-noun></li>
        <li><title-cn>切韻音系</title-cn> <proper-noun>李榮</proper-noun></li>
        <li><title-cn>宋本廣韻</title-cn> <proper-noun>魯國堯</proper-noun></li>
        <li><title-cn>上古音系</title-cn> <proper-noun>鄭張尚芳</proper-noun></li>
        <li><title-cn>漢語歷史音韻學</title-cn> <proper-noun>潘悟雲</proper-noun></li>
        <li><title-cn>中原音韻 詞林正韻 佩文詩韻</title-cn> <proper-noun>田松青</proper-noun></li>
        <li><title-cn>詩詞格律</title-cn> <proper-noun>王力</proper-noun></li>
        <li><title-cn>國際語音學會手冊</title-cn> <proper-noun>江荻</proper-noun></li>
        <li><title-cn>原始漢語與漢藏語</title-cn> <proper-noun>包擬古</proper-noun></li>
        <li><title-cn>語言學通論</title-cn> <proper-noun>王德春</proper-noun></li>
        <li><title-cn>中原音韻表稿</title-cn> <proper-noun>寧繼福</proper-noun></li>
        <li><title-cn>金元詞用韻與〈中原音韻〉</title-cn> <proper-noun>宋洪民</proper-noun></li>
        <li><title-cn>〈中原音韻〉與〈洪武正韻〉比较研究</title-cn> <proper-noun>童琴</proper-noun></li>
        <li><title-cn>從漢語方言看〈中原音韻〉的語音性質</title-cn> <proper-noun>孟萬春</proper-noun></li>
        <li><title-cn>上古音系</title-cn> <proper-noun>鄭張尚芳</li>
        <li><title-cn>古代漢語音系的構擬</title-cn> <proper-noun>Sergei Anatolyevich Starostin</proper-noun></li>
        <li><title-cn>洪武正韻譯訓音研究</title-cn>	<proper-noun>成元慶</proper-noun></li>
      </ul>
    <h3>電子資料</h3>
      <ul>
        <li><title-cn-quote><a href="http://kanji-database.sourceforge.net/" target="_blank">宋本廣韻データ</a></title-cn-quote> <proper-noun>漢字データベースプロジェクト</proper-noun></li>
        <li><title-cn-quote><a href="http://www.pkucn.com/viewthread.php?tid=175767&amp;page=2" target="_blank">廣韻全字表</a></title-cn-quote> <a href="http://zh.wikipedia.org/zh-hk/User:Polyhedron" target="_blank"><proper-noun>Polyhedron</proper-noun></a>，<proper-noun>Zgheng</proper-noun>，<a href="http://zh.wikipedia.org/zh-hk/User:Blankego" target="_blank"><proper-noun>有女同車</proper-noun></a></li>
        <li><title-cn-quote><a href="http://code.google.com/p/rhymedict/" target="_blank">rhymedict</a></title-cn-quote> <a href="http://zh.wikipedia.org/zh-hk/User:Blankego" target="_blank"><proper-noun>有女同車</proper-noun></a></li>
        <li><title-cn-quote><a href="http://www.wul.waseda.ac.jp/kotenseki/html/ho04/ho04_01757/index.html" target="_blank">広韻</a></title-cn-quote> <proper-noun>日本早稻田大學圖書館</proper-noun></li>
        <li><title-cn-quote><a href="http://ctext.org/zh" target="_blank">中國哲學書電子化計劃</a></title-cn-quote> <a href="http://www.dsturgeon.net/big5.html" target="_blank"><proper-noun>Donald Sturgeon</proper-noun></a></li>
        <li><title-cn-quote><a href="http://appendix.ytenx.org/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/" target="_blank">中古漢語語音教程</a></title-cn-quote> <a href="http://zh.wikipedia.org/zh-hk/User:Polyhedron" target="_blank"><proper-noun>Polyhedron</proper-noun></a></li>
        <li><title-cn-quote><a href="http://www.nla.gov.au/apps/cdview?pi=nla.gen-vn1883034" target="_blank">江湖尺牘分韻撮要合集</a></title-cn-quote> <proper-noun>澳大利亞國家圖書館</proper-noun></li>
        <li><title-cn-quote><a href="http://archive.org/details/cyingcwcfanwan00williala" target="_blank">英華分韵撮要</a></title-cn-quote> <proper-noun>洛杉磯大學圖書館</proper-noun></li>
        <li><title-cn-quote><a href="https://www.kanripo.org/text/KR1j0068/000" target="_blank">洪武正韻</a></title-cn-quote> <proper-noun>漢リポ Kanseki Repository</proper-noun></li>
      </ul>
  
  <h2>站長自述</h2>
    <p><a href="https://www.byvoid.com/about">https://www.byvoid.com/about</a></p>
    
  <h2>版本更迭</h2>
    <ul>
      <li>版本3.0 (2020年3月27日)
        <ul>
          <li>升級到Django 1.11.28與Python 3。</li>
          <li>累積修正勘誤更新。</li>
        </ul>
      </li>
      <li>版本2.6 (2018年10月27日)
        <ul>
          <li>多年來累積修正勘誤更新。</li>
        </ul>
      </li>
      <li>版本2.5 (2012年8月2日)
        <ul>
          <li>新增<title-cn>上古音系</title-cn>。</li>
          <li>修正查詢頁面的錯誤。</li>
        </ul>
      </li>
      <li>版本2.4 (2012年7月7日)
        <ul>
          <li>新增<title-cn>中原音韻</title-cn>。</li>
          <li>增加<title-cn>廣韻</title-cn>目錄文本。</li>
          <li>修正國際音標網頁輸入法。</li>
        </ul>
      </li>
      <li>版本2.3 (2012年6月20日)
        <ul>
          <li>修改頁面樣式，統一風格。</li>
          <li>移植韻典附錄。</li>
          <li>爲<title-cn>廣韻</title-cn>增加頁面文本，包含切韻序等。</li>
        </ul>
      </li>
      <li>版本2.2 (2012年6月15日)
        <ul>
          <li>加強檢索功能，增加異體字自動轉換，支持『簡化字』。</li>
        </ul>
      </li>
      <li>版本2.1 (2012年6月10日)
        <ul>
          <li>加入<title-cn>分韻撮要</title-cn>。</li>
        </ul>
      </li>
      <li>版本2.0 (2012年5月8日)
        <ul>
          <li>重構網站，將「廣韻查詢系統」更名「韻典網」。</li>
          <li>加入<title-cn>洪武正韻牋</title-cn>電子資料。</li>
        </ul>
      </li>
      <li>版本1.0 (2011年5月4日)
        <ul>
          <li>修正反切上字與聲母的關聯和反切下字與韻母的關聯。</li>
          <li>補全了廣韻未收的古今字以便於查詢。</li>
          <li>增加蒲立本的擬音和李方桂、周法高、陸志韋、董同龢聲母的擬音。</li>
        </ul>
      </li>
      <li>版本0.9 (2011年4月29日)
        <ul>
          <li>修正細節使頁面達到W3C標準。</li>
          <li>獨立頁面增加反切顯示。</li>
          <li>補全高本漢聲母擬音。</li>
        </ul>
      </li>
      <li>版本0.8 (2011年4月22日)
        <ul>
          <li>增加<title-cn>廣韻</title-cn>序言文本。</li>
          <li>重新設計美化頁面樣式。</li>
          <li>增加聲母和韻母的各家擬音。</li>
        </ul>
      </li>
      <li>版本0.7 (2011年4月20日)
        <ul>
          <li>爲操作耗時的頁面增加緩存。</li>
          <li>修改單獨頁面鏈接指向到單獨頁面。</li>
        </ul>
      </li>
      <li>版本0.6 (2011年4月19日)
        <ul>
          <li>加入廣韻澤存堂本圖片和圖片瀏覽器。</li>
        </ul>
      </li>
      <li>版本0.5 (2011年4月17日)
        <ul>
          <li>重新設計等韻圖數據結構，優化等韻圖查詢性能。</li>
          <li>修正小韻「𧼒」「坦」「𥇅」「𥱻」「戢」。</li>
          <li>增加靜態文件支持，美化頁面。</li>
        </ul>
      </li>
      <li>版本0.4 (2011年4月16日)
        <ul>
          <li>增加等韻圖。</li>
        </ul>
      </li>
      <li>版本0.3 (2011年4月13日)
        <ul>
          <li>重新導入數據，修正小韻對應錯亂。</li>
          <li>增加反切上字表和反切下字表。</li>
          <li>增加小韻列表按反切查詢。</li>
          <li>合併韻母表到反切下字表。</li>
        </ul>
      </li>
      <li>版本0.2 (2011年4月11日)
        <ul>
          <li>增加聲母表、聲母頁面。</li>
          <li>分離小韻表中按類別查詢和小韻序號查詢。</li>
          <li>修正404錯誤引發方法。</li>
        </ul>
      </li>
      <li>版本0.1 (2011年4月10日)
        <ul>
          <li>初始版本。</li>
        </ul>
      </li>
    </ul>
  <h2>聯絡</h2>
    ytenx@byvoid.com
</div>
{% endblock %}
