{% extends "layout.html" %}
{% block index_active %}active{% endblock %}
{% block caption %}韻典網{% endblock %}
{% block body %}
<div class="span12">
  <div class="page-header">
    <h1>歡迎訪問韻典網 <small>一座綜合韻書查詢網站</small></h1>
  </div>
    <p><proper-noun>韻典網</proper-noun>是一個綜合韻書查詢工具，包含<title-cn>廣韻</title-cn>、<title-cn>中原音韻</title-cn>、<title-cn>洪武正韻牋</title-cn>、<title-cn>分韻撮要</title-cn>和<title-cn>上古音系</title-cn>。韻典網<a href="https://t.me/ytenx">電報討論羣t.me/ytenx</a>。
      <a href="{% url 'about_page' %}">更多介紹…</a></p>
  <h2>廣韻</h2>
    <p><title-cn>大宋重修廣韻</title-cn>是公元1008年，由<proper-noun>陳彭年</proper-noun>等人奉詔，據<title-cn>切韻</title-cn>所修訂成韻書一部。<title-cn>廣韻</title-cn>共收字二萬六千一百九十四，列三千八百七十四小韻，分爲上平聲、下平聲、上聲、去聲、入聲五卷，共計二百零六韻。<a href="{% url 'kyonh' %}">更多介紹…</a></p>
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <a href="/kyonh/cio/1/15/"><img src="/static/img/DrakDzuonDang/volume1/thumb/p015.jpg" alt=""></a>
          <p><title-cn>廣韻</title-cn><proper-noun>澤存堂</proper-noun>本第一卷第十五䈎</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <a href="/kyonh/cio/2/25/"><img src="/static/img/DrakDzuonDang/volume2/thumb/p025.jpg" alt=""></a>
          <p><title-cn>廣韻</title-cn><proper-noun>澤存堂</proper-noun>本第二卷第二十五䈎</p>
        </div>
      <li class="span4">
        <div class="thumbnail">
          <a href="/kyonh/cio/3/34/"><img src="/static/img/DrakDzuonDang/volume3/thumb/p034.jpg" alt=""></a>
          <p><title-cn>廣韻</title-cn><proper-noun>澤存堂</proper-noun>本第三卷第三十四䈎</p>
        </div>
      </li>
    </ul>
  <h2>分韻撮要</h2>
  <p><title-cn>分韻撮要</title-cn>是記載<proper-noun>清</proper-noun>初<proper-noun>粵</proper-noun>語語音之韻書，現存最早版本是1782年<title-cn>江湖尺牘分韻撮要合集</title-cn>。<title-cn>分韻撮要</title-cn>分三十三韻部，每一韻部內小韻以陰平、陽平、陰上、陽上、陰去、陽去、陰入、陽入之序排列，小韻有字義但無反切。<title-cn>分韻撮要</title-cn>作者及具體成書年代均不詳，但所可確定是此書所記錄語音系統不早於<proper-noun>明</proper-noun>末<proper-noun>清</proper-noun>初。
    <a href="{% url 'pyon_yonh' %}">更多介紹…</a></p>  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <a href="/pyonh/cio/1/22/">
          <img src="/static/img/KrungGhoTchiekDukPyonYonhTsuatQjeuhGhopDzip/volume1/22.jpg" alt="">
        </a>
        <p><title-cn>江湖尺牘分韻撮要合集</title-cn>第一卷第二十二䈎</p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <a href="/pyonh/cio/1/98/">
          <img src="/static/img/KrungGhoTchiekDukPyonYonhTsuatQjeuhGhopDzip/volume1/98.jpg" alt="">
        </a>
        <p><title-cn>江湖尺牘分韻撮要合集</title-cn>第一卷第九十八䈎</p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <a href="/pyonh/cio/2/56/">
          <img src="/static/img/KrungGhoTchiekDukPyonYonhTsuatQjeuhGhopDzip/volume2/56.jpg" alt="">
        </a>
        <p><title-cn>江湖尺牘分韻撮要合集</title-cn>第二卷第五十六䈎</p>
      </div>
    </li>
  </ul>
  <h2>中原音韻</h2>
    <p><title-cn>中原音韻</title-cn>是<proper-noun>元</proper-noun>代戲曲家<proper-noun>周德清</proper-noun>所著記錄北曲音系之韻書，亦爲自<title-cn>切韻</title-cn>後首部脫離<title-cn>切韻</title-cn>框架，記錄現實語音之韻書。
      <a href="{% url 'triung_ngyan_qim_yonh' %}">更多介紹…</a></p>
  <h2>洪武正韻牋</h2>
    <p><title-cn>洪武正韻牋</title-cn>是明代<proper-noun>楊時偉</proper-noun>所編纂之韻書。該書以<proper-noun>明</proper-noun><proper-noun>洪武</proper-noun>八年<proper-noun>樂韶鳳</proper-noun>、<proper-noun>宋濂</proper-noun>等人所著<title-cn>洪武正韻</title-cn>爲基礎，增註補箋。同時取<title-cn>韻補</title-cn>、<title-cn>古音考</title-cn>等古書之音，附於各韻之後，謂之「古音」。又取<title-cn>韻會舉要</title-cn>、<title-cn>丹鉛錄</title-cn>諸書收字，增附於韻後，謂之「逸字」。
      <a href="{% url 'tcenghyonhtsen' %}">更多介紹…</a></p>
  <h2>上古音系</h2>
    <p><title-cn>上古音系</title-cn>是<proper-noun>鄭張尚芳</proper-noun>之著作。
      <a href="{% url 'dciangx_kox' %}">更多介紹…</a></p>
</div>
{% endblock %}
