{% extends "layout.html" %}
{% block index_active %}active{% endblock %}
{% block caption %}韻典網{% endblock %}
{% block body %}
<div class="span12">
  <div class="page-header">
    <h1>歡迎訪問韻典網 <small>一個綜合韻書查詢網站</small></h1>
  </div>
    <p>韻典網是一個綜合的韻書查詢工具，包含《廣韻》、《中原音韻》、《洪武正韻牋》、《分韻撮要》和《上古音系》。<a href="{% url views.about_page %}">更多介紹…</a></p>
  <h2>廣韻</h2>
    <p>《大宋重修廣韻》是公元1008年，由陳彭年等人奉詔，根據《切韻》修訂成的一部韻書。《廣韻》共收字二萬六千一百九十四，列三千八百七十四小韻，分爲上平聲、下平聲、上聲、去聲、入聲五卷，共計二百零六韻。<a href="{% url kyonh.views.index_page %}">更多介紹…</a></p>
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <a href="/kyonh/cio/1/15/"><img src="/static/img/DrakDzuonDang/volume1/thumb/p015.jpg" alt=""></a>
          <p>《廣韻》澤存堂本第一卷第十五䈎</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <a href="/kyonh/cio/2/25/"><img src="/static/img/DrakDzuonDang/volume2/thumb/p025.jpg" alt=""></a>
          <p>《廣韻》澤存堂本第二卷第二十五䈎</p>
        </div>
      <li class="span4">
        <div class="thumbnail">
          <a href="/kyonh/cio/3/34/"><img src="/static/img/DrakDzuonDang/volume3/thumb/p034.jpg" alt=""></a>
          <p>《廣韻》澤存堂本第三卷第三十四䈎</p>
        </div>
      </li>
    </ul>
  <h2>分韻撮要</h2>
  <p>《分韻撮要》是記載清初粵語語音的韻書，現存最早的版本是1782年的《江湖尺牘分韻撮要合集》。《分韻撮要》分三十三韻部，每個韻部內小韻按照陰平、陽平、陰上、陽上、陰去、陽去、陰入、陽入排列，小韻有字義但無反切。《分韻撮要》的作者和具體成書年代均不詳，但可以確定的是此書記錄的語音系統不早於明末清初。<a href="{% url pyonh.views.pyon_yonh %}">更多介紹…</a></p>
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <a href="/pyonh/cio/1/22/">
          <img src="/static/img/KrungGhoTchiekDukPyonYonhTsuatQjeuhGhopDzip/volume1/22.jpg" alt="">
        </a>
        <p>《江湖尺牘分韻撮要合集》第一卷第二十二䈎</p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <a href="/pyonh/cio/1/98/">
          <img src="/static/img/KrungGhoTchiekDukPyonYonhTsuatQjeuhGhopDzip/volume1/98.jpg" alt="">
        </a>
        <p>《江湖尺牘分韻撮要合集》第一卷第九十八䈎</p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <a href="/pyonh/cio/2/56/">
          <img src="/static/img/KrungGhoTchiekDukPyonYonhTsuatQjeuhGhopDzip/volume2/56.jpg" alt="">
        </a>
        <p>《江湖尺牘分韻撮要合集》第二卷第五十六䈎</p>
      </div>
    </li>
  </ul>
  <h2>中原音韻</h2>
    <p>《中原音韻》是元代戲曲家周德清所著的記錄北曲音系的韻書，也是自《切韻》後第一個脫離《切韻》框架，記錄現實語音的韻書。<a href="{% url trngyan.views.triung_ngyan_qim_yonh %}">更多介紹…</a></p>
  <h2>洪武正韻牋</h2>
    <p>《洪武正韻牋》是明代楊時偉編纂的一部韻書。該書以明洪武八年樂韶鳳、宋濂等人所著的《洪武正韻》爲基礎，增註補箋。同時取《韻補》、《古音考》等古書之音，附於各韻之後，謂之「古音」。又取《韻會舉要》、《丹鉛錄》諸書收字，增附於韻後，謂之「逸字」。<a href="{% url tcenghyonhtsen.views.index_page %}">更多介紹…</a></p>
  <h2>上古音系</h2>
    <p>《上古音系》是鄭張尚芳的著作。<a href="{% url dciangxkox.views.dciangx_kox %}">更多介紹…</a></p>
</div>
{% endblock %}
