<style type="text/css">
  .display-unless-with-vertical-layout, #switch-to-vertical-layout {
    display: none;
  }
  .write-as-layout-direction {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    overflow: auto;
  }
  .tb-with-table-by-layout-direction {
    writing-mode: horizontal-tb;
    direction: rtl;    
  }
  .tb-with-table-by-layout-direction table {
    writing-mode: vertical-rl;
    text-align: right;
    direction: ltr;
    overflow: auto;
  }
  .auto-direction-fullsize {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: 100%;
    height: 100%;
    overflow: auto;
  }  
  .badge-info {
    writing-mode: horizontal-tb;
  }
  .navbar .nav>li {
    float: right;
  }  
  blockquote {
    border-left: 0px;
    border-top: 0px;
  }
  blockquote::before {
    margin-top: 1em;
  }
  .horizontal-cn {
    writing-mode: horizontal-tb;
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  .horizontal-cn a,
  .horizontal-cn span,
  .horizontal-cn div,
  .horizontal-cn ul,
  .horizontal-cn li,
  .horizontal-cn table,
  .horizontal-cn td,
  .horizontal-cn input,
  .horizontal-cn selection option,
  .horizontal-cn .brand,
  .horizontal-cn .nav,
  .horizontal-cn .btn{
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  .horizontal-cn ul,
  .horizontal-cn li,
  .horizontal-cn table,
  .horizontal-cn td,
  .horizontal-cn input,
  .horizontal-cn selection option,
  .horizontal-cn .brand,
  .horizontal-cn .btn{
    float: right; 
  }
  .sidebar-cn li,
  .sidebar-cn a {
    writing-mode: horizontal-tb;
    direction: rtl;
    unicode-bidi: bidi-override;    
  }
  .pagination {
    text-align: right;
    writing-mode: horizontal-tb;
  }
  .pagination li {
    float: right;
  }
  .sidebar-nav {
    writing-mode: horizontal-tb;
    direction: rtl;
  }  
  .table {
    width: auto;
  }
  .table-remove-border-when-vertical th,
  .table-remove-border-when-vertical td {
    border-top: none;
  }
  .latin-below {
    writing-mode: horizontal-tb;
    font-size: 0.618em;
  }
  .horizontal-ltr {
    writing-mode: horizontal-tb;
    direction: ltr;
  }
  .horizontal-ltr-override {
    writing-mode: horizontal-tb;
    direction: ltr;
    unicode-bidi: bidi-override;    
  }  
  .vertical_divider {
    width: 5px;
    background-color: #EAEFF5;
    display: block;
  }
</style>
