<style type="text/css">
  .auto-direction {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    overflow: auto;
  }
  .auto-direction-fullsize {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: 100%;
    height: 100%;
    overflow: auto;
  }  
  .badge-info {
    writing-mode: horizontal-tb;
  }
  blockquote {
    border-left: 0px;
    border-top: 0px;
  }
  blockquote::before {
    margin-top: 1em;
  }
  .horizontal-cn {
    float: right;
    writing-mode:horizontal-tb;
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  .horizontal-cn form ul li {
    float: right;
  }
  .horizontal-cn form ul li select option{
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  .horizontal-cn li {
    float: right;
  }  
  .horizontal-cn ul {
    float: right;
  }  
  .horizontal-cn ul li {
    float: right;
  }
  .horizontal-cn ul li a {
    direction: rtl;
    unicode-bidi: bidi-override;
  }  
  .horizontal-cn table {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  .horizontal-cn table tr td {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  .sidebar-nav {
    writing-mode: horizontal-tb;
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  .sidebar-nav ul li a {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  .pagination {
    text-align: right;
    writing-mode: horizontal-tb;
  }
  .pagination ul li {
    float: right;
  }
  .table {
    width: auto;
  }
  .table tr td{
    width: auto;
    text-orientation: upright;
    text-orientation: upright;
  }
  .table-remove-border-vertical tr td {
    border-top: none;
  }
  .table-remove-border-vertical tr th {
    border-top: none;
  }
  .latin-below {
    writing-mode: horizontal-tb;
    font-size: 0.618em;
  }
  .vertical_divider {
    width: 5px;
    background-color: #EAEFF5;
    display: block;
  }
</style>
