{% extends "layout.html" %}
{% load ytenx %}
{% block about_active %}active{% endblock %}
{% block caption %}韻典網{% endblock %}
{% block body %}
<div class="span12">
  {% if dzih_list.kyonh %}
    <h1>廣韻</h1>
    {% for dzih in dzih_list.kyonh %}
      <h2>{{dzih.dzih}}</h2>
      <h3>
        <a href="{% url kyonh.views.pyanx_dciangx_page dzih.sieuxYonh.pyanx.dciangx.dzih %}">{{dzih.sieuxYonh.pyanx.dciangx}}</a><a href="{% url kyonh.views.pyanx_ghrax_page dzih.sieuxYonh.pyanx.ghrax.dzih %}">{{dzih.sieuxYonh.pyanx.ghrax}}</a>切
        <a href="{% url kyonh.views.sieux_yonh_page dzih.sieuxYonh.ziox %}">{{dzih.sieuxYonh}}</a>小韻
      </h3>
      <p>
        <a href="{% url kyonh.views.cjeng_mux_page dzih.sieuxYonh.cjeng.dzih %}">{{dzih.sieuxYonh.cjeng}}</a>母
  	  	<a href="{% url kyonh.views.yonh_miuk_page dzih.sieuxYonh.yonhMiuk.dzih %}">{{dzih.sieuxYonh.yonhMiuk}}</a>韻
  	  	{{dzih.sieuxYonh.yonh.tongx|sryoh}}等
  	  	{{dzih.sieuxYonh.yonh.ho|ho}}口
      </p>
      <blockquote>{{dzih.ngieh}}</blockquote>
    {% endfor %}
  {% endif %}
  {% if dzih_list.tcyts %}
    <h1>洪武正韻牋</h1>
    {% for dzih in dzih_list.tcyts %}
      <h2>{{dzih.dzih}}</h2>
      <p>
        {{dzih.sieux.pyanx.dciangx}}{{dzih.sieux.pyanx.ghrax}}切
  	  	{{dzih.sieux.deuh|deuh}}聲<a href="{% url tcenghyonhtsen.views.yonh_miuk_page dzih.sieux.yonhMiuk.dzih %}">{{dzih.sieux.yonhMiuk}}</a>
        <a href="{% url tcenghyonhtsen.views.sieux_yonh_page dzih.sieux.ziox %}">{{dzih.sieux}}</a>小韻
      </p>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
