{% extends "trngyan/poh.html" %}
{% load ytenx %}
{% block trngyan_dzih_active %}active{% endblock %}
{% block title %}字表 - 中原音韻{% endblock %}
{% block keywords %}字表, 中原音韻, {% endblock %}
{% block content %}
<div class="page-header">
  <h1>字表 <small>中原音韻</small></h1>
</div>
<div class="tb-with-table-by-layout-direction">
  <div class="row">
    <div class="span10 horizontal-cn">
      <form class="form-search" method="get" action="{% url 'zim' %}">
        <input type="text" name="dzih" class="search-query span3">
        <input type="hidden" name="trngyan" value="1">
        <input type="hidden" name="jtkb" value="1">
        <input type="hidden" name="jtdt" value="1">
        <button type="submit" class="btn btn-primary">檢索</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="span7">      
      <table class="table table-bordered table-condensed">
        <tr>
          <th>次序</th>
          <th>字</th>
          <th>小韻</th>
          <th>聲紐</th>
          <th>韻部</th>
          <th>聲調</th>
          <th>註釋</th>
        </tr>
        {% for dzih in dzih_pieux %}
        <tr>
          <td>{{dzih.ziox|tsiowng_ghwaeng_srwioh:request}}</td>
          <td><a href="{% url 'trngyan-dzih' dzih.id %}">{{dzih}}</a></td>
          <td>
            <a href="{% url 'trngyan-sieux_yonh' dzih.sieux_yonh.ziox %}">{{dzih.sieux_yonh.taj}}</a>
          </td>
          <td>
            <a href="{% url 'trngyan-cjeng_mux' dzih.sieux_yonh.cjeng.dzih %}">
              {{dzih.sieux_yonh.cjeng}}
            </a>
          </td>
          <td>{{dzih.sieux_yonh.yonh_box}}</td>
          <td>{{dzih.sieux_yonh.deuh|deuh_trngyan}}</td>
          <td>{{dzih.tryoh}}</td>
        </tr>
        {% endfor %}
      </table>
      {% include "pagination.html" with list=dzih_pieux only %}
    </div>
  </div>
</div>
{% endblock %}
