{% extends "byohlyuk/poh.html" %}
{% block byoh_lyuk_active %}active{% endblock %}
{% block title %}中州音音系簡介及語料 - 附錄{% endblock %}
{% block content %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'byoh_lyuk' '' %}">附錄</a>
    <span class="divider">/</span>
  </li>
  <li class="active">官話中州音音系簡介及語料</li>
</ul>
<div class="page-header">
  <h1>官話中州音音系簡介及語料</h1>
</div>

<table class="table">
  <tr>
    <th>名稱</th>
    <th>Bilibili鏈接</th>
    <th>Youtube鏈接</th>
    <th>日期</th>
    <th>作者</th>
  </tr>
  <tr>
    <td>音系簡介</td>
    <td>
      <a href="https://www.bilibili.com/video/av25736483/">音系簡介</a>
    </td>
    <td>
      <a href="https://youtu.be/dIl2zqlbk64">音系簡介</a>
    </td>
    <td>2018年6月</td>
    <td>Phjong</td>
  </tr>
  
  <tr>
    <td>禮記‧大學‧官話中州音吟</td>
    <td>
      <a href="https://www.bilibili.com/video/av28476949">大學</a>
    </td>
    <td>    
      <a href="https://youtu.be/m0cHqWZpGq0">大學</a>
    </td>
    <td>2018年7月</td>
    <td>Phjong</td>
  </tr>
  
  <tr>
    <td>離騷選段‧官話‧中古音‧上古音</td>
    <td>
      <a href="https://www.bilibili.com/video/av25182892/">離騷</a>
    </td>
    <td>
      <a href="https://youtu.be/R5e7qoaV35Y">離騷</a>
    </td>
    <td>2018年6月</td>
    <td>Phjong</td>
  </tr>   
  
  <tr>
    <td>禮記‧射義‧官話中州音吟</td>
    <td>
      <a href="https://www.bilibili.com/video/av28970477/">射義</a>
    </td>
    <td>
      <a href="https://youtu.be/IuobIVe6cJw">射義</a>
    </td>
    <td>2018年8月</td>
    <td>Phjong</td>
  </tr>

  <tr>
    <td>清明‧官話中州音吟</td>
    <td>
      <a href="https://www.bilibili.com/video/av27509475/">清明</a>
    </td>
    <td>
      <a href="https://youtu.be/MzfXTsg1ZCw">清明</a>
    </td>
    <td>2018年7月</td>
    <td>Phjong</td>
  </tr>

  <tr>
    <td>五人墓碑記‧官話中州音吟</td>
    <td>
      <a href="https://www.bilibili.com/video/av24442919/">五人墓碑記</a>
    </td>
    <td>
      <a href="https://youtu.be/COLK4rJ-mlE">五人墓碑記</a>
    </td>
    <td>2018年6月</td>
    <td>Phjong</td>
  </tr>
</table>
{% endblock %}
