{% extends "byohlyuk/poh.html" %}
{% block byoh_lyuk_active %}active{% endblock %}
{% block title %}中州音音系簡介及語料 - 附錄{% endblock %}
{% block content %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'byohlyuk.views.byoh_lyuk' '' %}">附錄</a>
    <span class="divider">/</span>
  </li>
  <li class="active">中州音音系簡介及語料</li>
</ul>
<div class="page-header">
  <h1>中州音音系簡介及語料 <small>Polyhedron</small></h1>
</div>

<table class="table">
<tr>
  <th>名稱</th>
  <th>Bilibili鏈接</th>
  <th>Youtube鏈接</th>
  <th>日期</th>
  <th>作者</th>
</tr>
<tr>
  <td>音系簡介</td>
  <td>
  </td>
  <td>
  </td>

  <td>2018年月日</td>
  <td>Phjong</td>
</tr>
<tr>
  <td>大學</td>
  <td>
  </td>
  <td>
  </td>

  <td>2018年月日</td>
  <td>Phjong</td>
</tr>

<tr>
  <td>射義</td>
  <td>
  </td>
  <td>
  </td>

  <td>2018年月日</td>
  <td>Phjong</td>
</tr>
</table>
{% endblock %}
