{% extends "byohlyuk/poh.html" %}
{% block byoh_lyuk_active %}active{% endblock %}
{% block title %}國際音標表 - 附錄{% endblock %}
{% block content %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'byoh_lyuk' '' %}">附錄</a>
    <span class="divider">/</span>
  </li>
  <li class="active">國際音標表</li>
</ul>

<div class="page-header">
  <h1>國際音標表</h1>
</div>

<p><a href="/static/files/IPA_Charts/IPA_chart_2005.pdf">THE INTERNATIONAL PHONETIC ALPHABET (revised to 2005)</a></p>
<p><a href="/static/files/IPA_Charts/IPA_chart_2005_zh.pdf">國際音標表（二零零五年修訂版）</a></p>
<p><a href="/static/files/IPA_Charts/ExtIPA1997-A4.pdf">言語障礙用國際音標擴充符號表</a></p>

<h2>輔音</h2>
<span id="swf_1Ga"><embed width="800" height="600" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/consonants6.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash"></span><script type="text/javascript" reload="1">$('swf_1Ga').innerHTML=AC_FL_RunContent('width', '800', 'height', '600', 'allowNetworking', 'internal', 'allowScriptAccess', 'none', 'src', '/static/files/IPA_Charts/ipa_demos/consonants6.swf', 'quality', 'high', 'bgcolor', '#ffffff', 'wmode', 'transparent', 'allowfullscreen', 'true');</script>

<h2>元音</h2>
<span id="swf_3E2"><embed width="600" height="400" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/ipavowelsnov25.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash"></span><script type="text/javascript" reload="1">$('swf_3E2').innerHTML=AC_FL_RunContent('width', '600', 'height', '400', 'allowNetworking', 'internal', 'allowScriptAccess', 'none', 'src', '/static/files/IPA_Charts/ipa_demos/ipavowelsnov25.swf', 'quality', 'high', 'bgcolor', '#ffffff', 'wmode', 'transparent', 'allowfullscreen', 'true');</script>


<h2>非肺部氣流輔音</h2>
<span id="swf_TT6"><embed width="600" height="400" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/nonpulmonics.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash"></span><script type="text/javascript" reload="1">$('swf_TT6').innerHTML=AC_FL_RunContent('width', '600', 'height', '400', 'allowNetworking', 'internal', 'allowScriptAccess', 'none', 'src', '/static/files/IPA_Charts/ipa_demos/nonpulmonics.swf', 'quality', 'high', 'bgcolor', '#ffffff', 'wmode', 'transparent', 'allowfullscreen', 'true');</script>

<h2>變音符號</h2>
<span id="swf_J3K"><embed width="800" height="600" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/diacritics.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash"></span><script type="text/javascript" reload="1">$('swf_J3K').innerHTML=AC_FL_RunContent('width', '800', 'height', '600', 'allowNetworking', 'internal', 'allowScriptAccess', 'none', 'src', '/static/files/IPA_Charts/ipa_demos/diacritics.swf', 'quality', 'high', 'bgcolor', '#ffffff', 'wmode', 'transparent', 'allowfullscreen', 'true');</script>


<h2>英語雙元音</h2>
<span id="swf_aec"><embed width="800" height="600" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/diphthongs.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash"></span><script type="text/javascript" reload="1">$('swf_aec').innerHTML=AC_FL_RunContent('width', '800', 'height', '600', 'allowNetworking', 'internal', 'allowScriptAccess', 'none', 'src', '/static/files/IPA_Charts/ipa_demos/diphthongs.swf', 'quality', 'high', 'bgcolor', '#ffffff', 'wmode', 'transparent', 'allowfullscreen', 'true');</script>

<h2>超音段音位</h2>
<span id="swf_6Tz"><embed width="400" height="800" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/suprasegmentals.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash"></span><script type="text/javascript" reload="1">$('swf_6Tz').innerHTML=AC_FL_RunContent('width', '400', 'height', '800', 'allowNetworking', 'internal', 'allowScriptAccess', 'none', 'src', '/static/files/IPA_Charts/ipa_demos/suprasegmentals.swf', 'quality', 'high', 'bgcolor', '#ffffff', 'wmode', 'transparent', 'allowfullscreen', 'true');</script>

<h2>其他符號</h2>
<span id="swf_h2C"><embed width="600" height="400" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/othersymbols.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash"></span><script type="text/javascript" reload="1">$('swf_h2C').innerHTML=AC_FL_RunContent('width', '600', 'height', '400', 'allowNetworking', 'internal', 'allowScriptAccess', 'none', 'src', '/static/files/IPA_Charts/ipa_demos/othersymbols.swf', 'quality', 'high', 'bgcolor', '#ffffff', 'wmode', 'transparent', 'allowfullscreen', 'true');</script>

{% endblock %}
