{% extends "byohlyuk/poh.html" %}
{% block byoh_lyuk_active %}active{% endblock %}
{% block title %}國際音標表 - 附錄{% endblock %}
{% block content %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'byoh_lyuk' '' %}">附錄</a>
    <span class="divider">/</span>
  </li>
  <li class="active">國際音標表</li>
</ul>

<div class="page-header">
  <h1>國際音標表</h1>
</div>

<p><a href="https://commons.wikimedia.org/wiki/File:IPA_chart_(C)2005.pdf" target="_blank" rel="noopener noreferrer">THE INTERNATIONAL PHONETIC ALPHABET (revised to 2005)</a></p>
<p><a href="http://www.phonetics.org.cn/?p=838" target="_blank" rel="noopener noreferrer">國際音標表（二零零五年修訂版）</a></p>
<p><a href="/static/files/IPA_Charts/ExtIPA1997-A4.pdf">言語障礙用國際音標擴充符號表</a></p>

<script>
  window.RufflePlayer = window.RufflePlayer || {};
  window.RufflePlayer.config = {
    autoplay: "on",
    unmuteOverlay: "hidden"
  };
</script>
<script src="https://unpkg.com/@ruffle-rs/ruffle@0.3.0/ruffle.js"></script>

<h2>輔音</h2>
<embed width="800" height="600" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/consonants6.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash">

<h2>元音</h2>
<embed width="600" height="400" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/ipavowels2004.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash">


<h2>非肺部氣流輔音</h2>
<embed width="600" height="400" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/nonpulmonics.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash">

<h2>變音符號</h2>
<embed width="800" height="600" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/diacritics.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash">


<h2>英語雙元音</h2>
<embed width="800" height="600" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/diphthongs.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash">

<h2>超音段音位</h2>
<embed width="400" height="800" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/suprasegmentals.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash">

<h2>其他符號</h2>
<embed width="600" height="400" allownetworking="internal" allowscriptaccess="none" src="/static/files/IPA_Charts/ipa_demos/othersymbols.swf" quality="high" bgcolor="#ffffff" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash">

{% endblock %}
