{% extends "byohlyuk/poh.html" %}
{% block byoh_lyuk_active %}active{% endblock %}
{% block title %}中古漢語語音教程 - 附錄{% endblock %}
{% block content %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'byoh_lyuk' '' %}">附錄</a>
    <span class="divider">/</span>
  </li>
  <li class="active">中古漢語語音教程</li>
</ul>
<div class="page-header">
  <h1>中古漢語語音教程 <small>Polyhedron</small></h1>
</div>
<table class="table">
<tr>
  <th>序號</th>
  <th>名稱</th>
  <th>優酷鏈接</th>
  <th>Youtube鏈接</th>
</tr>
<tr>
  <td>000</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/000_Zsiox/Zsiox.wmv">序</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTI5NzI0NTY0.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=djTrdguRzOI" target="_blank">Youtube</a>
    <a href="http://www.youtube.com/watch?v=8NKIT-EOfSU" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>001</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/001_SjengMux/SjengMux.wmv">聲母</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMwNzc2MDM2.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=00wXcpFDth4" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>002</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/002_ZsjynQim/ZsjynQim.wmv">脣音</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMwODAxNTE2.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=P_3hpO9dx0c" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>003</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/003_ZsjetQim/ZsjetQim.wmv">舌音</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMwODE1NjQw.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=kwu0PNh1PvE" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>004</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/004_GhuNgraQimZjangx/GhuNgraQimZjangx.wmv">喉牙音 上</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMwOTE2Mjk2.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=jdp0gtBTNVQ" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>005</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/005_GhuNgraQimGhrax/GhuNgraQimGhrax.wmv">喉牙音 下</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMwOTIwNzQ4.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=ijfSapULNVE" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>006</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/006_ChjixQimZjangx/ChjixQimZjangx.wmv">齒音 上</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMxMTc5ODI4.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=5IZk5U6FmpY" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>007</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/007_ChjixQimGhrax/ChjixQimGhrax.wmv">齒音 下</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMxMTgyNDA0.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=Nr18BnQUeWI" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>008_1</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/008_1_SjengMuxCungxKet_PhoxThungGhruad/SjengMuxCungxKet_PhoxThungGhruad.wmv">聲母總結 普通話</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMxNDA3NzYw.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=-FaUnFEFI2U" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>008_2</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/008_2_SjengMuxCungxKet_Njit/SjengMuxCungxKet_Njit.wmv">聲母總結 日本語</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMxNzAwMDI0.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=7rHFPt1851w" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>009</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/009_SjengDeuh/SjengDeuh.wmv">聲調</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMxOTI4MjU2.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=eSXxO1-NmSg" target="_blank">Youtube</a>
    <a href="http://www.youtube.com/watch?v=2ZcYmRYmR-0" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>010</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/010_YonhMyoix/YonhMyoix.wmv">韻尾</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMyMjg1MjY0.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=MwVpXsf4piY" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>011</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/011_YonhMux/YonhMux.wmv">韻母</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTM2NzU4MTA0.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=8jrKv5SOx-s" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>012</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/012_NgyohSjep/NgyohSjep.wmv">遇攝</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTM2OTkxNDY0.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=4ufXQWRjVvI" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>013</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/013_KuaxKraxSjep/KuaxKraxSjep.wmv">果攝 假攝</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTM3NDYwMTg0.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=5EauFTN9tpQ" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>014</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/014_DanghSjep/DanghSjep.wmv">宕攝</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTQ5NDM3MDE2.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=UEEOU9V3EoU" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>015</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/015_ThungKrungSjep/ThungKrungSjep.wmv">通攝 江攝</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTUyNDU4Mjk2.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=k9S8OlxFMXM" target="_blank">Youtube</a>
    <a href="http://www.youtube.com/watch?v=d4s5N4-1CKk" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>016</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/016_LiuGhrauhSjep/LiuGhrauhSjep.wmv">流攝 效攝</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTUyNTIxMzk2.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=TUvajQ4HLT4" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>017</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/017_PyanxChet/PyanxChet.wmv">反切 韻圖</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTUyNTMxMzEy.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=2IrziVebXOQ" target="_blank">Youtube</a>
  </td>
</tr>
<tr>
  <td>018</td>
  <td><a href="/static/files/TriungKoxHanhNgioxNgioxQimKrauhDrieng/018_SrenSjep/SrenSjep.wmv">山攝</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTk3MzE5NDM2.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=xjWoqgjCDcA" target="_blank">Youtube</a>
  </td>
</tr>
</table>

{% endblock %}
