{% extends "byohlyuk/poh.html" %}
{% block byoh_lyuk_active %}active{% endblock %}
{% block title %}中古漢語韻文朗讀 - 附錄{% endblock %}
{% block content %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'byoh_lyuk' '' %}">附錄</a>
    <span class="divider">/</span>
  </li>
  <li class="active">中古漢語韻文朗讀</li>
</ul>
<div class="page-header">
  <h1>中古漢語韻文朗讀 <small>Polyhedron</small></h1>
</div>

<table class="table">
<tr>
  <th>名稱</th>
  <th>優酷鏈接</th>
  <th>Youtube鏈接</th>
  <th>日期</th>
  <th>作者</th>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/ChenZihMyon/ChenZihMyon.wmv">千字文</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=eemRbc7XGLk" target="_blank">Youtube</a>
  </td>

  <td>2010年07月21日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/DongYangKakZsiox/DongYangKakZsiox.wmv">滕王閣序</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTc5OTUwNTIw.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=CcogYj-H6HY" target="_blank">Youtube</a>
  </td>

  <td>2010年06月08日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/QimZsiPhjen/QimZsiPhjen.wmv">顏氏家訓音辭篇</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTQwNDIxNjQ4.html" target="_blank">Youku</a>
  </td>
  <td>
  </td>

  <td>2009年12月22日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/ThrikLokKa/ThrikLokKa.wmv">敕勒歌</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTM3MTA0MTQw.html" target="_blank">Youku</a>
  </td>
  <td>
  </td>

  <td>2009年12月07日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/NgyatGhraxDukCjak/NgyatGhraxDukCjak.wmv">月下獨酌</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=F-z1fCIE8Mc" target="_blank">Youtube</a>
  </td>

  <td>2009年07月05日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/KruanSrenNgyat_Chjangh/KruanSrenNgyat_Chjangh.wmv">關山月</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=B7ndOu85Z_E" target="_blank">Youtube</a>
  </td>

  <td>2009年05月04日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/MyanghNgruk/MyanghNgruk.wmv">望嶽</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=Wn4744Revhg" target="_blank">Youtube</a>
  </td>

  <td>2009年03月07日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/ChimYanChjyn_Syet/ChimYanChjyn_Syet.wmv">沁園春 雪</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=twYfdp4EfQ8" target="_blank">Youtube</a>
  </td>

  <td>2009年02月06日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/GhuangGhakLu/GhuangGhakLu.wmv">黃鶴樓</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=TKS2AnKjM6c" target="_blank">Youtube</a>
  </td>

  <td>2009年02月03日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/NgyanNjit/NgyanNjit.wmv">元日</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=V5wUho2HBlM" target="_blank">Youtube</a>
  </td>

  <td>2008年12月31日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/KreNjin/KreNjin.wmv">佳人</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=ep_9yWsjsjw" target="_blank">Youtube</a>
  </td>

  <td>2008年12月27日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/PrakKraSiengh/PrakKraSiengh.wmv">百家姓</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTI2NTE4ODcy.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=70kJZnlMcSs" target="_blank">Youtube</a>
  </td>

  <td>2008年12月17日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/CraiTriungDukSjo/CraiTriungDukSjo.wmv">齋中讀書</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=6dEAewhikAw" target="_blank">Youtube</a>
  </td>

  <td>2008年12月15日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/KhuonKrueh/KhuonKrueh.wmv">易 坤卦</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=VUHOKVRCFA8" target="_blank">Youtube</a>
  </td>

  <td>2008年12月07日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/TongQyCjuDaiKa/TongQyCjuDaiKa.wmv">登幽州臺歌</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=qfLRjzn9cqw" target="_blank">Youtube</a>
  </td>

  <td>2008年11月29日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/SrenGhrang/SrenGhrang.wmv">山行</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=aqk1rAnvnUc" target="_blank">Youtube</a>
  </td>

  <td>2008年11月26日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/MinxNuung/MinxNuung.wmv">憫農</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTM2NzM2Nzc2.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=zAQeEzDL7-A" target="_blank">Youtube</a>
  </td>

  <td>2008年11月17日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/ZiengxJahSi/ZiengxJahSi.wmv">靜夜思</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMyMzQxNDA4.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=4xI_cJDIgr4" target="_blank">Youtube</a>
  </td>

  <td>2008年11月17日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/ChiangCinhCiux/ChiangCinhCiux.wmv">將進酒</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTM0MjU3MzMy.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=sVw9iyq59zo" target="_blank">Youtube</a>
  </td>

  <td>2008年11月16日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/SamMjinCjyoxNgieh/SamMjinCjyoxNgieh.wmv">三民主義</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=VHI2_qS2AbQ" target="_blank">Youtube</a>
  </td>

  <td>2008年10月10日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/NgnoxGhrang/NgnoxGhrang.wmv">黃帝內經 陰陽應象大論第五</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=CJuaDF1MnHk" target="_blank">Youtube</a>
  </td>

  <td>2008年08月10日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/HiehCheZukNgioxPyotCjengh/HiehCheZukNgioxPyotCjengh.wmv">戲妻族語不正</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=psJHBaIQy30" target="_blank">Youtube</a>
  </td>

  <td>2008年08月02日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/MukLan/MukLan.wmv">木蘭辭</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTM2NzQxMTQ0.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=QR1sqnXYe-o" target="_blank">Youtube</a>
  </td>

  <td>2008年07月28日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/MiunghJu/MiunghJu.wmv">夢遊天姥吟留別</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=-cGE7gwEap4" target="_blank">Youtube</a>
  </td>

  <td>2008年06月08日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/Numbers/Numbers.wmv">漢藏語系及其它語言漢字音中的數字</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTMwMDkwMDMy.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=-clOl8y2qNo" target="_blank">Youtube</a>
  </td>

  <td>2008年05月01日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/ChiengBiengDeuh/ChiengBiengDeuh.wmv">清平調</a></td>
  <td>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=-RpngHAinng" target="_blank">Youtube</a>
  </td>

  <td>2008年04月22日</td>
  <td>polyhedron</td>
</tr>
<tr>
  <td><a href="/static/files/YonhMyon/YenghNga/YenghNga.wmv">詠鵝</a></td>
  <td>
  <a href="http://v.youku.com/v_show/id_XMTI2NTM4NDY4.html" target="_blank">Youku</a>
  </td>
  <td>
    <a href="http://www.youtube.com/watch?v=BRdA4E2KVJY" target="_blank">Youtube</a>
  </td>

  <td>2008年04月16日</td>
  <td>polyhedron</td>
</tr>
</table>
{% endblock %}
