{% extends "kyonh/layout.html" %}
{% load ytenx %}
{% block kyonh_cjeng_mux_active %}active{% endblock %}
{% block title %}{{cjeng}} - 聲母{% endblock %}
{% block keywords %}{{cjeng}}, 聲母 {% endblock %}
{% block content %}
<h1>{{cjeng.lyih}} {{cjeng}}</h1>
<div class="row">
  <div class="span3">
    <h2>擬音</h2>
    <table class="table table-bordered">
    {% for mjeng, ngix in cjeng.ngix.items %}
      {% if ngix %}
        <tr>
          <td>{{mjeng}}</td>
          <td>{{ngix}}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>
  <div class="span3">
    <h2>拼音</h2>
    <table class="table table-bordered">
    {% for mjeng, preng in cjeng.preng.items %}
      {% if preng %}
        <tr>
          <td>{{mjeng}}</td>
          <td>{{preng}}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>
</div>


<div class="span10">
  <div class="row">
    <h2>小韻</h2>
    {% for sieux in cjeng.sieuxyonh_set.all %}
      <a href="{% url kyonh.views.sieux_yonh_page sieux.ziox %}">{{sieux}}</a>
    {% endfor %}
  </div>
  <div class="row">
    <h2>反切上字</h2>
    {% for dciangx in cjeng.dciangxdzih_set.all %}
      {{dciangx}}
    {% endfor %}
  </div>
</div>

{% endblock %}

