{% extends "kyonh/layout.html" %}
{% load ytenx %}
{% block kyonh_dzih_active %}active{% endblock %}
{% block title %}字表{% endblock %}
{% block keywords %}字表, 廣韻, {% endblock %}
{% block content %}
<div class="page-header">
  <h1>字表 <small>廣韻</small></h1>
</div>
<div class="tb-with-table-by-layout-direction">
  <div class="row">
    <div class="span10 horizontal-cn">
      <form class="form-search" method="get" action="{% url 'zim' %}">
        <input type="text" name="dzih" class="search-query span3">
        <input type="hidden" name="kyonh" value="1">
        <input type="hidden" name="jtkb" value="1">
        <input type="hidden" name="jtdt" value="1">
        <button type="submit" class="btn">檢索</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="span10">      
      <table class="table table-bordered table-condensed">
        <tr>
          <th width="32">次序</th>
          <th width="32">字</th>
          <th width="32">反切</th>
          <th width="32">小韻</th>
          <th>字義</th>
        </tr>
        {% for dzih in dzih_pieux %}
        <tr>
          <td nowrap>{{dzih.ziox|tsiowng_ghwaeng_srwioh:request}}</td>
          <td><a href="{% url 'kyonh-dzih' dzih.ziox %}">{{dzih}}</a></td>
          <td>
            {% if dzih.sieuxYonh.pyanx %}
              <a href="{% url 'kyonh-pyanx_dciangx_page' dzih.sieuxYonh.pyanx.dciangx.dzih %}">{{dzih.sieuxYonh.pyanx.dciangx}}</a><a href="{% url 'kyonh-pyanx_ghrax_page' dzih.sieuxYonh.pyanx.ghrax.dzih %}">{{dzih.sieuxYonh.pyanx.ghrax}}</a>
            {% else %}
              無
            {% endif %}
          </td>
          <td>
            <a href="{% url 'kyonh-sieux_yonh_page' dzih.sieuxYonh.ziox %}">{{dzih.sieuxYonh.taj}}</a>
          </td>
          <td>{{dzih.ngieh}}</td>
        </tr>
        {% endfor %}
      </table>
      {% include "pagination.html" with list=dzih_pieux only %}
    </div>
  </div>
</div>

{% endblock %}

