{% extends "kyonh/layout.html" %}
{% block kyonh_index_active %}active{% endblock %}
{% block title %}廣韻{% endblock %}
{% block content %}
<div class="page-header">
  <h1>廣韻 <small>大宋重修廣韻</small></h1>
</div>

<p><title-cn>大宋重修廣韻</title-cn>是公元1008年，由<proper-noun>陳彭年</proper-noun>等人奉詔，據<title-cn>切韻</title-cn>所修訂成之韻書一部。<title-cn>廣韻</title-cn>共收字二萬六千一百九十四，列三千八百七十四小韻，分爲上平聲、下平聲、上聲、去聲、入聲五卷，共計二百零六韻。</p>
<h2>廣韻的版本</h2>
  <p>廣韻自纂成至今，刻本、鈔本達百種之多。若因註文詳略之分，可分爲詳註本與略註本。若觀其刊刻源流，詳註本又可分爲兩類，一類是<proper-noun>福建</proper-noun>私刻之<title-cn>鉅宋廣韻</title-cn>，稱「鉅宋本」，一類是<proper-noun>臨安</proper-noun><proper-noun>國子監</proper-noun>所刊刻<title-cn>大宋重修廣韻</title-cn>，稱「大宋本」，此類版本今有「高宗本」「寧宗本」「巾箱本」。</p>
  <p>迨至<proper-noun>清</proper-noun>代，校刻<title-cn>廣韻</title-cn>者甚衆，此衆刻本中較爲通行者有三系，一是<proper-noun>康熙</proper-noun>年間<proper-noun>張士俊</proper-noun>所校刻「澤存堂本」，一是<proper-noun>光緒</proper-noun>年間<proper-noun>黎庶昌</proper-noun>所校刻「古逸叢書」本，一是<proper-noun>民國</proper-noun>初年<proper-noun>商務印書館</proper-noun>影印出版之<proper-noun>南宋</proper-noun>「巾箱本」。</p>
  <p>韻典網所收錄<title-cn>廣韻</title-cn>係基于「<proper-noun>澤存堂</proper-noun>本」之<proper-noun>周祖謨</proper-noun><title-cn>廣韻校本</title-cn>，其正文文字來自<a href="http://kanji-database.sourceforge.net/dict/sbgy/index.html" target="_blank"><proper-noun>漢字データベースプロジェクト</proper-noun></a>，書影來自<a href="http://www.wul.waseda.ac.jp/" target="_blank"><proper-noun>早稻田大學圖書館</proper-noun></a>，聲母、韻母、等韻分類遵循<a href="http://code.google.com/p/rhymedict/" target="_blank"><proper-noun>rhymedict</proper-noun></a>與<a href="http://www.pkucn.com/viewthread.php?tid=175767" target="_blank"><title-cn-no-quote>廣韻全字表</title-cn-no-quote></a>。</p>
<h2>聲母</h2>
  <p>循廣韻之編排方式，相同韻目之小韻排列一處，但其聲母未爲標明。廣韻之聲母系統是根據後世之三十六字母、等韻圖等文獻，及以反切系聯法所得出。早期韻圖囿於三十六字母之成見，認爲廣韻聲母系統與三十六字母相同。清儒<proper-noun>陳澧</proper-noun>最早利用系聯法（即將相同反切上字的小韻合併稱一個等價類）考得廣韻共有<strong>四十聲類</strong>，即從三十六字母之<title-cn-quote>照穿牀審</title-cn-quote>中分出<title-cn-quote>莊初神山</title-cn-quote>，<title-cn-quote>喻</title-cn-quote>中分出<title-cn-quote>于</title-cn-quote>，而合并<title-cn-quote>明微</title-cn-quote>。<proper-noun>白滌洲</proper-noun>重新使用系聯法，自<title-cn-quote>見溪疑影曉來</title-cn-quote>中又分出<title-cn-quote>居去魚於許力</title-cn-quote>六聲母，同時區分<title-cn-quote>明微</title-cn-quote>，爲<strong>四十七聲類</strong>說。<proper-noun>曾运乾</proper-noun>于四十七聲類基礎上又將<title-cn-quote>精清從心</title-cn-quote>分爲<title-cn-quote>作子</title-cn-quote><title-cn-quote>倉七</title-cn-quote><title-cn-quote>昨疾</title-cn-quote><title-cn-quote>蘇息</title-cn-quote>，謂<strong>五十一聲類</strong>。</p>
  <p><proper-noun>王力</proper-noun>循音系學之方法，于三十六字母基礎上自<title-cn-quote>照穿牀審</title-cn-quote>中分出<title-cn-quote>莊初崇山</title-cn-quote>與<title-cn-quote>章昌傳書</title-cn-quote>，合并<title-cn-quote>幫滂並明</title-cn-quote>與<title-cn-quote>非敷奉微</title-cn-quote>及<title-cn-quote>泥</title-cn-quote>與<title-cn-quote>孃</title-cn-quote>，同時將<title-cn-quote>喻</title-cn-quote>母三等分出並與<title-cn-quote>匣</title-cn-quote>母合并，爲<strong>三十五聲母</strong>。<proper-noun>邵榮芬</proper-noun>認爲<title-cn-quote>泥</title-cn-quote>母與<title-cn-quote>孃</title-cn-quote>母不應合并，亦自<title-cn-quote>禪</title-cn-quote>母中分出<title-cn-quote>常</title-cn-quote>母與<title-cn-quote>俟</title-cn-quote>母，爲<strong>三十七聲母</strong>。</p>
  <p><proper-noun>韻典網</proper-noun>採用<strong>三十八聲母</strong>之分類系統，是于三十七聲母之基礎上，將<title-cn-quote>喻</title-cn-quote>母三等分立爲<title-cn-quote>云</title-cn-quote>母，不并入<title-cn-quote>匣</title-cn-quote>母，其由主要是<title-cn>廣韻</title-cn>反切中未涉及<title-cn-quote>云</title-cn-quote>母與<title-cn-quote>匣</title-cn-quote>母混切，且<title-cn-quote>云</title-cn-quote>母至後世爲次濁音，與全濁音<title-cn-quote>匣</title-cn-quote>母不同。縱然<title-cn-quote>云</title-cn-quote>母與<title-cn-quote>匣</title-cn-quote>母上古來源極可能相同抑相近，但至少至切韻成書時期已經分離，故不應列爲廣韻之同一聲母。</p>
  <table class="table table-condensed">
  	<tr>
      <th>聲類</th>
      <th>聲母</th>
  	</tr>
  	<tr>
      <td>脣音</td>
      <td>
      	<a href="/kyonh/cjeng/%E5%B9%AB/">幫</a>
      	<a href="/kyonh/cjeng/%E6%BB%82/">滂</a>
      	<a href="/kyonh/cjeng/%E4%B8%A6/">並</a>
      	<a href="/kyonh/cjeng/%E6%98%8E/">明</a>
      </td>
  	</tr>
  	<tr>
      <td>舌頭音</td>
      <td>
      	<a href="/kyonh/cjeng/%E7%AB%AF/">端</a>
      	<a href="/kyonh/cjeng/%E9%80%8F/">透</a>
      	<a href="/kyonh/cjeng/%E5%AE%9A/">定</a>
      	<a href="/kyonh/cjeng/%E6%B3%A5/">泥</a>
      </td>
  	</tr>
  	<tr>
      <td>舌上音</td>
      <td>
  	    <a href="/kyonh/cjeng/%E7%9F%A5/">知</a>
      	<a href="/kyonh/cjeng/%E5%BE%B9/">徹</a>
      	<a href="/kyonh/cjeng/%E6%BE%84/">澄</a>
      	<a href="/kyonh/cjeng/%E5%AD%83/">孃</a>
      </td>
  	</tr>
  	<tr>
      <td>齒頭音</td>
      <td>
      	<a href="/kyonh/cjeng/%E7%B2%BE/">精</a>
      	<a href="/kyonh/cjeng/%E6%B8%85/">清</a>
      	<a href="/kyonh/cjeng/%E5%BE%9E/">從</a>
      	<a href="/kyonh/cjeng/%E5%BF%83/">心</a>
      	<a href="/kyonh/cjeng/%E9%82%AA/">邪</a>
      </td>
  	</tr>
  	<tr>
      <td>正齒音莊組</td>
      <td>
  	    <a href="/kyonh/cjeng/%E8%8E%8A/">莊</a>
      	<a href="/kyonh/cjeng/%E5%88%9D/">初</a>
        <a href="/kyonh/cjeng/%E5%B4%87/">崇</a>
      	<a href="/kyonh/cjeng/%E7%94%9F/">生</a>
      	<a href="/kyonh/cjeng/%E4%BF%9F/">俟</a>
      </td>
  	</tr>
  	<tr>
      <td>正齒音章組</td>
      <td>
      	<a href="/kyonh/cjeng/%E7%AB%A0/">章</a>
      	<a href="/kyonh/cjeng/%E6%98%8C/">昌</a>
      	<a href="/kyonh/cjeng/%E5%B8%B8/">常</a>
      	<a href="/kyonh/cjeng/%E6%9B%B8/">書</a>
      	<a href="/kyonh/cjeng/%E8%88%B9/">船</a>
      </td>
  	</tr>
  	<tr>
      <td>牙音</td>
      <td>
      	<a href="/kyonh/cjeng/%E8%A6%8B/">見</a>
      	<a href="/kyonh/cjeng/%E6%BA%AA/">溪</a>
      	<a href="/kyonh/cjeng/%E7%BE%A3/">羣</a>
      	<a href="/kyonh/cjeng/%E7%96%91/">疑</a>
      </td>
  	</tr>
  	<tr>
      <td>喉音</td>
      <td>
      	<a href="/kyonh/cjeng/%E6%9B%89/">曉</a>
      	<a href="/kyonh/cjeng/%E5%8C%A3/">匣</a>
      	<a href="/kyonh/cjeng/%E5%BD%B1/">影</a>
      	<a href="/kyonh/cjeng/云/">云</a>
      	<a href="/kyonh/cjeng/%E4%BB%A5/">以</a>
      </td>
  	</tr>
  	<tr>
      <td>半舌音</td>
      <td>
      	<a href="/kyonh/cjeng/%E4%BE%86/">來</a>
      </td>
  	</tr>
  	<tr>
      <td>半齒音</td>
      <td>
      	<a href="/kyonh/cjeng/%E6%97%A5/">日</a>
      </td>
  	</tr>
  </table>

<h2>韻目</h2>
  <p>廣韻之所謂「二百零六韻」即韻目，五卷中上平聲二十八韻目，下平聲二十九韻目，上聲五十五韻目，去聲六十韻目，入聲三十四韻目。韻目是爲詩文創作而分，故分平上去入四聲，與韻母不同。廣韻每一韻目可視爲一韻母或數韻母加聲調之集合。如廣韻<title-cn-quote>東</title-cn-quote>韻目下包含<title-cn-quote>東一</title-cn-quote>和<title-cn-quote>東三</title-cn-quote>二韻母之平聲字，與之對應又有<title-cn-quote>董</title-cn-quote><title-cn-quote>送</title-cn-quote>韻目，分別包含<title-cn-quote>東一</title-cn-quote>與<title-cn-quote>東三</title-cn-quote>之上去二聲。與<title-cn-quote>東</title-cn-quote>對應之入聲韻目<title-cn-quote>屋</title-cn-quote>亦可分爲<title-cn-quote>屋一</title-cn-quote>與<title-cn-quote>屋三</title-cn-quote>之二韻母。</p>
  <p>廣韻去聲有特殊四韻目<title-cn-quote>祭泰夬廢</title-cn-quote>，平聲上聲中無與之相對應之韻目。由于該四韻目之上古來源與入聲關係密切，以此又稱「次入聲」。</p>
  <p>廣韻韻目中缺少<title-cn-no-quote>冬</title-cn-no-quote>系上聲、<title-cn-no-quote>臻</title-cn-no-quote>系上聲、<title-cn-no-quote>臻</title-cn-no-quote>系去聲及<title-cn-no-quote>痕</title-cn-no-quote>系入聲，並非全無此四韻目之字，而是字數太少，廣韻編纂者將其併入其相鄰韻目。<proper-noun>韻典</proper-noun>補全該四韻目，分別爲<title-cn-quote>湩</title-cn-quote>、<title-cn-quote>𧤛</title-cn-quote>、<title-cn-quote>櫬</title-cn-quote>、<title-cn-quote>麧</title-cn-quote>。</p>
<h2>重紐</h2>
  <p>重紐是「于『脣、牙、喉』音『<title-cn-no-quote>支脂祭眞仙宵侵鹽</title-cn-no-quote>』八個韻系下之小韻中，通過反切系聯歸一類，卻列爲不同二小韻之現象」</p>
  <p>廣韻<title-cn-quote>支</title-cn-quote>、<title-cn-quote>脂</title-cn-quote>、<title-cn-quote>祭</title-cn-quote>、<title-cn-quote>眞</title-cn-quote>、<title-cn-quote>仙</title-cn-quote>、<title-cn-quote>宵</title-cn-quote>、<title-cn-quote>侵</title-cn-quote>、<title-cn-quote>鹽</title-cn-quote>八韻系由於存在重紐，韻典網中將其中每韻目又分爲重紐A類與重紐B類，分別對應<title-cn>韻鏡</title-cn>中置于第四行之三等小韻之韻目與置于第三行之三等小韻之韻目。</p>
  <p>關於重紐之更多解釋，請參閱「<a href="http://www.byvoid.com/blog/kuangx-yonh-dryung-nriux/" target="_blank">廣韻中的重紐與重紐歸類問題</a>」。</p>
<h2>等韻圖</h2>
  <p>等韻圖又簡稱韻圖，是<proper-noun>唐</proper-noun><proper-noun>宋</proper-noun>之後新生之音韻分析方法一種。傳統韻圖有<title-cn>韻鏡</title-cn>、<title-cn>七音略</title-cn>和<title-cn>切韻指掌圖</title-cn>等。此類傳統韻圖皆基于三十六字母而分析切韻音系，然而由于三十六字母之所反映是<proper-noun>中古</proper-noun>後期聲母系統，與切韻時期者不同，因而產生有「假二等」、「假四等」之問題。同時由于未充分意識到重紐之存在，又導致重紐小韻排列混亂之問題。<proper-noun>韻典網</proper-noun>之等韻圖未拘泥於傳統韻圖之格式，完全循廣韻之聲韻系統生成，故而已避免以上問題。</p>

  <p>關於開合</p>
  <p><proper-noun>韻典網</proper-noun>對每一韻之開合分類完全參照韻圖。韻圖有一例外，即某些轉標註有「開合」，譬如「內轉第十二開合」，<proper-noun>韻典網</proper-noun>一律作開口。</p>

{% endblock %}
