{% extends "kyonh/layout.html" %}
{% block kyonh_index_active %}active{% endblock %}
{% block title %}廣韻{% endblock %}
{% block content %}
<h1>廣韻介紹</h1>
  <p>《大宋重修廣韻》是公元1008年，由陳彭年等人奉詔，根據《切韻》修訂成的一部韻書。《廣韻》共收字二萬六千一百九十四，列三千八百七十四小韻，分爲上平聲、下平聲、上聲、去聲、入聲五卷，共計二百零六韻。</p>
  <h2>廣韻的版本</h2>
    <p>廣韻自纂成至今，刻本、鈔本達百種之多。如按註文詳略之分，可分爲詳註本和略註本。如果按照刊刻的源流來看，詳註本又可分爲兩類，一類是福建私刻的《鉅宋廣韻》，稱「鉅宋本」，一類是臨安國子監刊刻的《大宋重修廣韻》，稱「大宋本」，此類版本現有「高宗本」、「寧宗本」和「巾箱本」。</p>
    <p>迨至清代，校刻《廣韻》者甚衆，這些刻本中比較通行的有三系，一是康熙年間張士俊校刻的「澤存堂本」，一是光緒年間黎庶昌校刻的「古逸叢書」本，一是民國初年商務印書館影印出版的南宋「巾箱本」。</p>
    <p>韻典網所收錄的《廣韻》係以「澤存堂本」爲基礎的周祖謨《廣韻校本》，正文文字來自<a href="http://kanji-database.sourceforge.net/dict/sbgy/index.html" target="_blank">漢字データベースプロジェクト</a>，書影來自<a href="http://www.wul.waseda.ac.jp/" target="_blank">早稻田大學圖書館</a>，聲母、韻母、等韻分類依據了<a href="http://code.google.com/p/rhymedict/" target="_blank">rhymedict</a>與<a href="http://www.pkucn.com/viewthread.php?tid=175767" target="_blank">廣韻全字表</a>。</p>
  <h2>聲母</h2>
    <p>按照廣韻的編排方式，相同韻目的小韻排列在一起，但其聲母爲被標明。廣韻的聲母系統是根據後世的三十六字母、等韻圖等文獻，以及通過反切系聯法得出的。早期的韻圖囿於三十六字母之成見，認爲廣韻聲母系統與三十六字母相同。清儒陳澧最早利用系聯法（即將相同反切上字的小韻合併稱一個等價類）考得廣韻共有<strong>四十聲類</strong>，即從三十六字母的「照穿牀審」中分出「莊初神山」，「喻」中分出「于」，而合併「明微」。白滌洲重新使用系聯法，從「見溪疑影曉來」中再分出了「居去魚於許力」六個聲母，同時區分「明微」，爲<strong>四十七聲類</strong>說。曾运乾在四十七聲類基礎上又將「精清從心」分爲「作子」「倉七」「昨疾」「蘇息」，謂<strong>五十一聲類</strong>。</p>
    <p>王力根據音系學的方法，在三十六字母的基礎上從「照穿牀審」中分出「莊初崇山」與「章昌傳書」，合併「幫滂並明」與「非敷奉微」及「泥」與「孃」，同時將「喻」母三等分出並與「匣」母合併，爲<strong>三十五聲母</strong>。邵榮芬認爲「泥」母與「孃」母不應合併，同時又從「禪」母中分出了「常」母與「俟」母，爲<strong>三十七聲母</strong>。</p>
    <p>韻典網採用了<strong>三十八聲母</strong>分類的系統，在三十七聲母的基礎上，將「喻」母三等分立爲「云」母，不合併到「匣」母，主要原因是《廣韻》反切中沒有涉及「云」母與「匣」母混切，並且「云」母在後世爲次濁音，與全濁的「匣」母不同。儘管「云」母上古來源很可能是「匣」母，但至少在切韻成書時期已經分離，故不應列爲廣韻的一個聲母。</p>
    <table class="table table-condensed">
    	<tr>
        <th>聲類</th>
        <th>聲母</th>
    	</tr>
    	<tr>
        <td>脣音</td>
        <td>
        	<a href="/kyonh/cjeng/%E5%B9%AB/">幫</a>
        	<a href="/kyonh/cjeng/%E6%BB%82/">滂</a>
        	<a href="/kyonh/cjeng/%E4%B8%A6/">並</a>
        	<a href="/kyonh/cjeng/%E6%98%8E/">明</a>
        </td>
    	</tr>
    	<tr>
        <td>舌頭音</td>
        <td>
        	<a href="/kyonh/cjeng/%E7%AB%AF/">端</a>
        	<a href="/kyonh/cjeng/%E9%80%8F/">透</a>
        	<a href="/kyonh/cjeng/%E5%AE%9A/">定</a>
        	<a href="/kyonh/cjeng/%E6%B3%A5/">泥</a>
        </td>
    	</tr>
    	<tr>
        <td>舌上音</td>
        <td>
    	    <a href="/kyonh/cjeng/%E7%9F%A5/">知</a>
        	<a href="/kyonh/cjeng/%E5%BE%B9/">徹</a>
        	<a href="/kyonh/cjeng/%E6%BE%84/">澄</a>
        	<a href="/kyonh/cjeng/%E5%AD%83/">孃</a>
        </td>
    	</tr>
    	<tr>
        <td>齒頭音</td>
        <td>
        	<a href="/kyonh/cjeng/%E7%B2%BE/">精</a>
        	<a href="/kyonh/cjeng/%E6%B8%85/">清</a>
        	<a href="/kyonh/cjeng/%E5%BE%9E/">從</a>
        	<a href="/kyonh/cjeng/%E5%BF%83/">心</a>
        	<a href="/kyonh/cjeng/%E9%82%AA/">邪</a>
        </td>
    	</tr>
    	<tr>
        <td>正齒音莊組</td>
        <td>
    	    <a href="/kyonh/cjeng/%E8%8E%8A/">莊</a>
        	<a href="/kyonh/cjeng/%E5%88%9D/">初</a>
          <a href="/kyonh/cjeng/%E5%B4%87/">崇</a>
        	<a href="/kyonh/cjeng/%E7%94%9F/">生</a>
        	<a href="/kyonh/cjeng/%E4%BF%9F/">俟</a>
        </td>
    	</tr>
    	<tr>
        <td>正齒音章組</td>
        <td>
        	<a href="/kyonh/cjeng/%E7%AB%A0/">章</a>
        	<a href="/kyonh/cjeng/%E6%98%8C/">昌</a>
        	<a href="/kyonh/cjeng/%E5%B8%B8/">常</a>
        	<a href="/kyonh/cjeng/%E6%9B%B8/">書</a>
        	<a href="/kyonh/cjeng/%E8%88%B9/">船</a>
        </td>
    	</tr>
    	<tr>
        <td>牙音</td>
        <td>
        	<a href="/kyonh/cjeng/%E8%A6%8B/">見</a>
        	<a href="/kyonh/cjeng/%E6%BA%AA/">溪</a>
        	<a href="/kyonh/cjeng/%E7%BE%A3/">羣</a>
        	<a href="/kyonh/cjeng/%E7%96%91/">疑</a>
        </td>
    	</tr>
    	<tr>
        <td>喉音</td>
        <td>
        	<a href="/kyonh/cjeng/%E6%9B%89/">曉</a>
        	<a href="/kyonh/cjeng/%E5%8C%A3/">匣</a>
        	<a href="/kyonh/cjeng/%E5%BD%B1/">影</a>
        	<a href="/kyonh/cjeng/云/">云</a>
        	<a href="/kyonh/cjeng/%E4%BB%A5/">以</a>
        </td>
    	</tr>
    	<tr>
        <td>半舌音</td>
        <td>
        	<a href="/kyonh/cjeng/%E4%BE%86/">來</a>
        </td>
    	</tr>
    	<tr>
        <td>半齒音</td>
        <td>
        	<a href="/kyonh/cjeng/%E6%97%A5/">日</a>
        </td>
    	</tr>
    </table>

  <h2>韻目</h2>
    <p>廣韻所謂的「二百零六韻」即韻目，五卷中上平聲二十八韻目，下平聲二十九韻目，上聲五十五韻目，去聲六十韻目，入聲三十四韻目。韻目是爲了詩文創作而分，故分平上去入四聲，與韻母不同。一個廣韻韻目可以看作一個或幾個韻母加聲調的集合。如廣韻「東」韻目下包含了「東一」和「東三」兩個韻母的平聲字，對應還有「董」「送」韻目，分別包含「東一」和「東三」的上聲和去聲。與「東」對應的入聲韻目「屋」也可分兩個韻母「屋一」和「屋三」。</p>
    <p>廣韻去聲有四個特殊的韻目「祭泰夬廢」，沒有與之對應的平聲和上聲。由於這四個韻目的上古來源與入聲關係密切，所以又稱「次入聲」。</p>
    <p>廣韻韻目中缺少冬系上聲、臻系上聲、臻系去聲和痕系入聲，並非沒有這四個韻目的字，而是字數太少，被廣韻編纂者併入了相鄰的韻目。韻典補全了這四個韻目，分別是「湩」、「𧤛」、「櫬」、「麧」。</p>
  <h2>重紐</h2>
    <p>重紐是「在『脣、牙、喉』音『支脂祭眞仙宵侵鹽』八個韻系下的小韻中，通過反切系聯歸一類，卻列爲兩個不同的小韻的現象」</p>
    <p>廣韻「支」、「脂」、「祭」、「眞」、「仙」、「宵」、「侵」、「鹽」八個韻系由於存在重紐，韻典網中將每個韻目又分爲了重紐A類和重紐B類，分別對應《韻鏡》中排在第四行的三等小韻的韻目和排在第四行的三等小韻的韻目。</p>
    <p>關於重紐的更多解釋，請參看「<a href="http://www.byvoid.com/blog/kuangx-yonh-dryung-nriux/" target="_blank">廣韻中的重紐與重紐歸類問題</a>」。</p>
  <h2>等韻圖</h2>
    <p>等韻圖又簡稱韻圖，是唐宋以後新產生的一種分析音韻的方法。傳統的韻圖有《韻鏡》、《七音略》和《切韻指掌圖》等。這些傳統的韻圖都以三十六字母爲基礎分析切韻音系，但由於三十六字母反應了中古後期的聲母系統，與切韻時期不同，因而產生了「假二等」、「假四等」的問題。同時由於沒有充分到重紐的存在，還造成了重紐小韻排列混亂的問題。韻典網的等韻圖沒有拘泥於傳統韻圖的格式，完全按照廣韻的聲韻系統生成，故避免了以上問題。</p>

{% endblock %}
