{% extends "kyonh/layout.html" %}

{% block title %}廣韻說明{% endblock %}
{% block keywords %}簡介, 聲母, 三十六字母, 俟母, 常母, 重紐, {% endblock %}

{% block content %}

<h1>介紹</h1>
	<h2>1、聲母的分類</h2>
		<p>本系統採用了38個的聲母分類，基本原則爲能分則不合併。在三十六字母的基礎上，有如下特點：</p>
		<ol>
			<li>脣音字母「幫滂並明」不分輕重脣。</li>
			<li>「泥」「孃」母保持對立。</li>
			<li>正齒音「照穿牀審禪」分爲「莊初崇生俟」和「章昌常書船」兩組。</li>
			<li>「云」母（喻三）與「匣」母保持對立。</li>
			<li>「禪」母中分出「俟」母和「常」母。</li>
		</ol>
	<h2>2、俟母和常母</h2>
		<p>在傳統的分類中，「俟」母和「常」母同歸「禪」母，通常被擬爲濁齒齦擦音。但根據《切韻研究》（邵榮芬），本系統將「俟」母放到「莊」組擦音位置，而將「常」母放到「章」組塞擦音位置，「船」母放到「章」組擦音位置。與《韻鏡》、《七音略》等韻圖並不完全吻合。</p>
	<h2>3、韻目的分類</h2>
		<p>本系統的韻目在廣韻韻目的基礎上，補全了「湩」、「𧤛」、「櫬」、「麧」四個韻目，分別爲《廣韻》所缺的冬部上聲、臻部上聲、臻部去聲、痕部入聲。</p>
		<p>「支」、「脂」、「祭」、「眞」、「仙」、「宵」、「侵」、「鹽」八個韻系下的每個韻目根據重紐分爲了A類和B類。</p>
	<h2>4、重紐問題</h2>
		<p>
			爲了使査詢更加細緻，本系統將有重紐的八個韻系的每個韻目分爲A類和B類，其中A類是脣牙喉音在《韻鏡》中排在第四行的三等小韻的韻目，B類是在《韻鏡》中排在第三行的三等小韻的韻目。舉例如滂母脂韻的小韻「紕」（匹夷切）和「丕」（敷悲切），「紕」在韻圖中排在第四行，故屬於「脂A」韻，「丕」在韻圖中排在第三行，故屬於「脂B」韻。
		</p>
		<p>
		  關於重紐的更多解釋，請參看「<a href="http://www.byvoid.com/blog/kuangx-yonh-dryung-nriux/" target="_blank">廣韻中的重紐與重紐歸類問題</a>」。
		</p>

{% endblock %}
