{% extends "kyonh/layout.html" %}
{% load ytenx %}
{% block kyonh_sieux_yonh_active %}active{% endblock %}
{% block title %}小韻{% endblock %}
{% block keywords %}小韻, {% endblock %}
{% block content %}
<div class="row">
  <div class="span8">      
      <table class="table table-bordered table-condensed">
    	<tr>
    	  <th>次序</th>
    	  <th>小韻</th>
    	  <th>反切</th>
    	  <th>聲母</th>
    	  <th>韻目</th>
    	  <th>調</th>
    	  <th>等</th>
    	  <th>呼</th>
    	  <th>韻母</th>
    	</tr>
    	{% for sieux_yonh in sieux_yonh_list %}
    	<tr>
        <td>{{sieux_yonh.ziox}}</td>
        <td>
          <a href="{% url kyonh.views.sieux_yonh_page sieux_yonh.ziox %}">{{sieux_yonh.taj}}</a>
        </td>
        <td>
    	  	{% if sieux_yonh.pyanx %}
    	  		<a href="">{{sieux_yonh.pyanx.dciangx}}</a><a href="">{{sieux_yonh.pyanx.ghrax}}</a>
    	  	{% else %}
    	  		無
    	  	{% endif %}
        </td>
    	  <td>
    	  	<a href="{% url kyonh.views.cjeng_mux_page sieux_yonh.cjeng.dzih %}">
    	  		{{sieux_yonh.cjeng}}
    	  	</a>
    	  </td>
    	  <td>
    	  	<a href="{% url kyonh.views.yonh_miuk_page sieux_yonh.yonhMiuk.dzih %}">
    	  		{{sieux_yonh.yonhMiuk}}
    	  	</a>
    	  </td>
    	  <td>{{sieux_yonh.yonhMiuk.deuh|deuh}}</td>
    	  <td>{{sieux_yonh.yonh.tongx|sryoh}}</td>
    	  <td>{{sieux_yonh.yonh.ho|ho}}</td>
    	  <td>
    	  	<a href="{% url kyonh.views.yonh_mux_page sieux_yonh.yonh.mjeng %}">
    	  		{{sieux_yonh.yonh}}
    	  	</a>
    	  </td>
    	</tr>
    	{% endfor %}
    </table>
    {% include "pagination.html" with list=sieux_yonh_list only %}
  </div>
</div>

{% endblock %}

