{% extends "kyonh/layout.html" %}
{% load ytenx %}
{% block kyonh_yonh_mux_active %}active{% endblock %}
{% block kyonh_ghrax_dzih_active %}active{% endblock %}
{% block title %}韻母及反切下字 - 廣韻{% endblock %}
{% block keywords %}韻母, 反切下字, 廣韻{% endblock %}
{% block content %}
<div class="page-header">
  <h1>韻母及反切下字 <small>廣韻</small></h1>
</div>
<div class="row">
  <div class="span10">
    <table class="table table-bordered table-condensed table-striped">
      <tr>
        <th>攝</th>
        <th>韻系</th>
        <th>等</th>
        <th>呼</th>
        <th>韻母</th>
        <th>反切下字</th>
        <th>韻母</th>
        <th>反切下字</th>
      </tr>
      {% for item in yonh_mux_list %}
      <tr>
        <td>{{item.gheh.cjep}}</td>
        <td class="yonh">{{item.gheh}}</td>
        <td>{{item.tongx|sryoh}}</td>
        <td>{{item.ho|ho}}</td>
        <td class="yonh">
          {% with yonh=item.cio %}
            {% if yonh%}
              <a href="{% url 'kyonh-yonh_mux_page' yonh %}">{{yonh}}</a>
            {% endif %}
          {% endwith %}
        </td>
        <td>
          {% for ghrax in item.cio.ghraxdzih_set.all %}
            <a href="{% url 'kyonh-pyanx_ghrax_page' ghrax.dzih %}">{{ghrax}}</a>
          {% endfor %}
        </td>
        <td>
          {% with yonh=item.tshyuk %}
            {% if yonh%}
              <a href="{% url 'kyonh-yonh_mux_page' yonh %}">{{yonh}}</a>
            {% endif %}
          {% endwith %}
        </td>
        <td>
          {% for ghrax in item.tshyuk.ghraxdzih_set.all %}
            <a href="{% url 'kyonh-pyanx_ghrax_page' ghrax.dzih %}">{{ghrax}}</a>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}

