{% extends "kyonh/layout.html" %}
{% load ytenx %}
{% block kyonh_yonh_ngix_active %}active{% endblock %}
{% block title %}韻母擬音 - 廣韻{% endblock %}
{% block keywords %}韻母, 擬音, 韻母擬音, 廣韻, {% endblock %}
{% block content %}
<div class="page-header">
  <h1>韻母擬音 <small>廣韻</small></h1>
</div>
<div class="row">
  <div class="span10">
    <table class="table table-bordered table-condensed table-striped">
      <tr>
        <th>韻系</th>
        <th>韻母</th>
        {% for mjeng, qim in yonh_mux_list.0.cio.ngix.items %}
          {% if qim %}
            <th>{{mjeng}}</th>
          {% endif %}
        {% endfor %}
        <th>韻母</th>
        {% for mjeng, qim in yonh_mux_list.0.cio.ngix.items %}
          {% if qim %}
            <th>{{mjeng}}</th>
          {% endif %}
        {% endfor %}
      </tr>
      {% for yonh in yonh_mux_list %}
      <tr>
        <td class="yonh">{{yonh.gheh}}</td>
        <td>
          {% with yonh=yonh.cio %}
            {% if yonh%}
              <a class="yonh" href="{% url 'kyonh-yonh_mux_page' yonh %}">{{yonh}}</a>
            {% endif %}
          {% endwith %}
        </td>
        {% if yonh.cio%}
          {% for mjeng, qim in yonh.cio.ngix.items %}
            {% if qim %}
              <td><ipa>{{qim}}</ipa></td>
            {% endif %}
          {% endfor %}
        {% else %}
          {% for mjeng, qim in yonh_mux_list.0.cio.ngix.items %}
            {% if qim %}
              <td></td>
            {% endif %}
          {% endfor %}
        {% endif %}
        <td>
          {% with yonh=yonh.tshyuk %}
            {% if yonh%}
              <a href="{% url 'kyonh-yonh_mux_page' yonh %}">{{yonh}}</a>
            {% endif %}
          {% endwith %}
        </td>
        {% if yonh.tshyuk%}
          {% for mjeng, qim in yonh.tshyuk.ngix.items %}
            {% if qim %}
              <td><ipa>{{qim}}</ipa></td>
            {% endif %}
          {% endfor %}
        {% else %}
          {% for mjeng, qim in yonh_mux_list.0.cio.ngix.items %}
            {% if qim %}
              <td></td>
            {% endif %}
          {% endfor %}
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}

