{% extends "kyonh/layout.html" %}
{% load ytenx %}
{% block kyonh_yonh_mux_active %}active{% endblock %}
{% block title %}{{yonh}} - 韻母 - 廣韻{% endblock %}
{% block keywords %}{{yonh}}, 韻母, 廣韻 {% endblock %}
{% block content %}
<div class="page-header">
  <h1>{{yonh}} <small>廣韻韻母</small></h1>
</div>
<div class="row">
  <div class="span4">
    <table class="table table-bordered">
    	<tr>
    	  <td>韻系</td>
    	  <td class="yonh">{{yonh.gheh}}</td>
    	</tr>
    	<tr>
    	  <td>韻攝</td>
    	  <td>{{yonh.gheh.cjep}}</td>
    	</tr>
    	<tr>
    	  <td>調</td>
    	  <td>{{yonh.tshyuk|tshyuk}}聲</td>
    	</tr>
    	<tr>
    	  <td>等</td>
    	  <td>{{yonh.tongx|sryoh}}等</td>
    	</tr>
    	<tr>
    	  <td>呼</td>
    	  <td>{{yonh.ho|ho}}口</td>
    	</tr>
    	{% if yonh.tuaih %}
      	<tr>
      	  <td>對立韻母</td>
      	  <td><a href="{% url 'kyonh-yonh_mux_page' yonh.tuaih %}">{{yonh.tuaih}}</a></td>
      	</tr>
    	{% endif %}
    	<tr>
        <td>韻目</td>
        <td>
          {% for yonh_miuk in yonh.yonhmiuk_set.all %}
      	  	<a class="yonh" href="{% url 'kyonh-yonh_miuk_page' yonh_miuk.dzih %}">
      	  		{{yonh_miuk}}
      	  	</a>
          {% endfor %}
        </td>
    	</tr>
    </table>
  </div>
  <div class="span3">
    <table class="table table-bordered">
    {% for mjeng, ngix in yonh.ngix.items %}
      {% if ngix %}
        <tr>
          <td>{{mjeng}}</td>
          <td><ipa>{{ngix}}</ipa></td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>
  <div class="span3">
    <table class="table table-bordered">
    {% for mjeng, preng in yonh.preng.items %}
      {% if preng %}
        <tr>
          <td>{{mjeng}}</td>
          <td><span class="horizontal-ltr">{{preng}}</span></td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>
</div>


<div class="span10">
  <div class="row">
    <h2>小韻</h2>
    {% for sieux in yonh.sieuxyonh_set.all %}
      <a href="{% url 'kyonh-sieux_yonh_page' sieux.ziox %}">{{sieux}}</a>
    {% endfor %}
  </div>
  <div class="row">
    <h2>反切下字</h2>
    {% for ghrax in yonh.ghraxdzih_set.all %}
      <a href="{% url 'kyonh-pyanx_ghrax_page' ghrax.dzih %}">{{ghrax}}</a>
    {% endfor %}
  </div>
</div>

{% endblock %}

