{% load ytenx %}
<table class="table table-bordered table-condensed table-striped">
  <tr>
    <th>韻部</th>
    <th>舒聲</th>
    <th>入聲</th>
  </tr>
  {% for yonh_box in yonh_mux_pieux %}
  <tr>
    <td>第{{yonh_box.ziox|sryoh}}{{yonh_box}}</td>
    {% for yonh_mux in yonh_box.yonhmux_set.all %}
      <td><a href="{% url 'pyon_yonh-yonh_mux' yonh_mux %}">{{yonh_mux}}</a></td>
    {% endfor %}
    {% if yonh_box.yonhmux_set.all|length == 1 %}
      <td></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
